.header {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 35;
  top: 0;
  background: var(--body-bg);
  transition: padding-right 0s;

  &.sticky {
    .header__nav,
    .header__box {
      display: none;
    }
  }

  &.open-menu {
    transition: background 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    .header__box,
    .header__nav {
      display: none;
    }

    .header__mobile-divider {
      height: 0;
      opacity: 0;
      visibility: hidden;
    }
  }

  .burger {
    justify-self: end;

    @include burger;
  }

  @include small-tablet {
    & > .container {
      display: none;
    }
  }

  &__top {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(26px, 3.906vw, 40px);

    &-left {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  &__switcher {
    display: flex;

    & > span {
      display: flex;
    }
  }

  &__controls {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: clamp(16px, 3.906vw, 40px);
  }

  .search {
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__link {
    height: 38px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: var(--cl-h);
    border-radius: 37px;

    & > svg:last-of-type {
      stroke: var(--cl-c);
    }
  }

   &__box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease;

    @include small-tablet {
      display: none;
    }
  }

  &__logo {    
    svg {
      height: clamp(41px, 9.861vw, 142px);
    }
  }

  &__divider {
    width: fit-content;

    svg {
      width: 100%;
    }
  }

  &__nav {
    padding: 28px 0 16px;
    transition: all 0.3s ease;

    @include tablet{
      display: none;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-item {
      position: relative;
    }

    .menu-item-has-children {
      &:hover {
        & > .sub-menu {
          opacity: 1;
          visibility: visible !important;
        }

        & > .menu-link svg {
            transform: scaleY(-1);
        }
      } 

      &:last-of-type {
        .sub-menu {
          left: initial;
          right: 0;
        }
      }
    }

    .sub-menu {
      padding: 24px;
      max-height: initial;
      width: max-content;

      opacity: 0;
      visibility: hidden;
      overflow: visible;

      position: absolute;
      left: 0;
      bottom: 0;
      top: initial;
      transform: translateY(calc(100% + 20px)) !important;

      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: var(--cl-k);
      border-radius: 4px; 
      transition: 0.3s ease;

      &:before {
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        background: transparent;
        display: flex;
        top: 0;
        transform: translatey(-100%);
      }

      a {
        font-size: 12px;
        line-height: normal;
        font-weight: 400;
        color: var(--cl-c);
      }
    }

    .menu-link {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 20px;
      line-height: normal;
      font-weight: 400;
      text-transform: lowercase;

      svg {
        stroke: var(--cl-f);
        transition: 0.2s ease;
      }
    }
  }


  &__mobile {
    display: none;

    @include small-tablet {
      display: flex;
      flex-direction: column;
    }

    &-logo {
      display: flex;
    }

    &-box {
      padding: 12px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-controls {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-divider {
      width: 100%;
      display: flex;
      transition: all 0.2s ease;

      svg {
        transition: all 0.2s ease;
      }
    }
  }
}


body[data-theme="dark"] {
  .header {    
    &__link {
      background-color: var(--cl-d);
      color: var(--cl-g);
      
      & > svg:last-of-type {
        stroke: var(--cl-g);
      }
    }

    &__nav {
      .sub-menu {
        background-color: var(--cl-h);

        a {
          color: var(--cl-i);
        }
      }
      
      .menu-link {
        color: var(--cl-b);
        
        svg {
          stroke: var(--cl-d);
        }
      }
    }

  }
}