.header {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 35;
  top: 0;
  background: var(--bg-a);
  transition: all 0.3s, padding-right 0s;

  &.sticky {
    .header__nav {
      opacity: 0;
      visibility: hidden;
      height: 0;
      padding: 0;
    }
  }

  &.open-menu {
    transition: background 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

    .header__box,
    .header__nav {
      // opacity: 0;
      // visibility: hidden;
      // max-height: 0;
      // padding: 0;
      display: none;
    }
  }

  .burger {
    justify-self: end;

    @include burger;
  }

  &__top {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    &-left {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }

  &__switcher {
    display: flex;
  }

  &__controls {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    &-trigger {
      display: flex;
      cursor: pointer;
    }
  }

  &__link {
    height: 38px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #C3E9C7;
    border-radius: 37px;
  }

   &__box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease;
  }

  &__nav {
    padding: 28px 0 16px;
    transition: all 0.3s ease;

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-item {
      position: relative;
    }

    .menu-item-has-children {
      &:hover {
        & > .sub-menu {
          opacity: 1;
          visibility: visible !important;
        }

        & > .menu-link svg {
            transform: scaleY(-1);
        }
      } 
    }

    .sub-menu {
      padding: 24px;
      max-height: initial;
      width: max-content;

      opacity: 0;
      visibility: hidden;
      overflow: visible;

      position: absolute;
      left: 0;
      bottom: 0;
      top: initial;
      transform: translateY(calc(100% + 20px)) !important;

      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: #E5EEE5;
      border-radius: 4px; 
      transition: 0.3s ease;

      &:before {
        width: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        background: transparent;
        display: flex;
        top: 0;
        transform: translatey(-100%);
      }

      a {
        font-size: 12px;
        line-height: normal;
        font-weight: 400;
        color: #083F08;
      }
    }

    .menu-link {
      display: flex;
      align-items: center;
      gap: 2px;
      font-size: 20px;
      line-height: normal;
      font-weight: 400;
      text-transform: lowercase;

      svg {
        transition: 0.2s ease;
      }
    }
  }
}
