.mobile {
  position: fixed;
  top: var(--header-top);
  left: 0;
  width: fit-content;
  height: calc(100svh - var(--header-top));
  background: var(--cl-k);
  z-index: 30;
  overflow: hidden;
  transition: 0.3s ease;
  transform: translateX(-150%);
  padding: 40px 24px 60px 80px;

  @include tablet{
    padding: clamp(24px, 3.906vw, 40px) var(--container-offset) clamp(24px, 5.859vw, 60px);
  }

  &.active {
    display: flex;
    transform: translateX(0);

    @include small-tablet{
      width: 100vw;
    }
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &::-webkit-scrollbar {
      width: 2px;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        cursor: pointer;
        transition: all 0.2s;
    }
    
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track);
    }
    
    &::-webkit-scrollbar-button {
        display: none;
        background-color: transparent;
        box-shadow: none;
    }

    @include  tablet {
      overflow-y: auto;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 63px;

      span {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      svg {
        stroke: var(--cl-c);
      }
    }

    &-link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        stroke: var(--cl-c);
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &-page {
      display: none;

      @include small-tablet {
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: #C3E9C7;
        border-radius: 37px;
        font-size: 14px;
        line-height: 160%;
        font-weight: 300;
        color: var(--cl-c);

        svg {
          stroke: var(--cl-c);
        }
      }
    }

    &-bottom {
      display: none;


      @include  small-tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-lang {
      padding: 4px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--cl-a);
      border-radius: 68px;

      a {
        padding: 8px 30px;
        font-size: 12px;
        line-height: normal;
        font-weight: 500;
        color: var(--cl-c);
        border-radius: 999px;
        text-transform: uppercase;

        &.active {
          background-color: var(--cl-c);
          color: var(--cl-a);
        }
      }
    }
  }
}

body[data-theme="dark"] {
  .mobile {    
    background-color: var(--cl-j);

    &__menu {
      color: var(--cl-b);

      &-link {
        color: var(--cl-b);

        svg {
          stroke: var(--cl-b);
        }
      }

      &-page {
        color: var(--cl-g);

        svg {
          stroke: var(--cl-g);
        }
      }

      a {
        svg {
          stroke: var(--cl-b);
        }
      }

      &-lang {
        background-color: var(--cl-f);
  
        a {
          color: var(--cl-b);

          &.active {
            background-color: var(--cl-o);
            color: var(--cl-b);
          }
        }
      }
    }
  }
}