.mobile {
  position: fixed;
  top: var(--header-top);
  left: 0;
  width: fit-content;
  height: calc(100svh - var(--header-top));
  background: var(--cl-k);
  z-index: 30;
  overflow: hidden;
  transition: 0.3s ease;
  transform: translateX(-150%);

  @include  for-tablet {
    padding: 0px 0px 0px 80px;
  }

  @include tablet{
    padding: clamp(24px, 3.906vw, 40px) var(--container-offset) clamp(24px, 5.859vw, 60px);
  }

  &.active {
    display: flex;
    transform: translateX(0);

    @include small-tablet{
      width: 100vw;
    }

    @include for-small-tablet{
      overflow: visible;
    }
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    @include  for-tablet {
      overflow-y: auto;
      padding: 40px 0 60px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: clamp(12px, 5.208vw, 40px);

    &::-webkit-scrollbar {
      width: 2px;
      cursor: pointer;
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        cursor: pointer;
        transition: all 0.2s;
    }
    
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track);
    }
    
    &::-webkit-scrollbar-button {
        display: none;
        background-color: transparent;
        box-shadow: none;
    }

    @include  tablet {
      // overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .menu-item {
      display: grid;
      grid-template-columns: 1fr 24px;
      align-items: center;
      gap: 0 40px;

      @include  for-tablet {
        padding-right: 24px;
      }

      &.label-new .menu-link::after {
        content: 'New';
        position: absolute;
        right: 0;
        padding: 4px;
        background-color: #C3E9C7;
        border-radius: 5px;
        font-size: 10px;
        line-height: 100%;
        font-weight: 500;
        text-transform: uppercase;
        color: #083F08;
      }
    }

    .menu-link {
      position: relative;
      display: flex;
      align-items: center;
      gap: 8px;

      @include  tablet {
        width: fit-content;
        padding-right: 40px;
      }

      svg {
        stroke: var(--cl-c);
      }
    }

    .menu-button {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        stroke: var(--cl-c);
      }

      @include  for-tablet {
        pointer-events: none;
      }
    }

    .menu-item-has-children {
      @include small-tablet {
        &.active {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0 0 5px;
          z-index: 2;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;

          .menu-link {
            width: 100%;
            padding: 12px 52px 12px 40px;
            justify-content: flex-end;
            background-color: #fff;
            border-top: 1px solid #DCDEDA;
            border-bottom: 1px solid #DCDEDA;

            &::after {
              left: initial !important;
              top: initial !important;
              right: 12px !important;
            }
          }

          .menu-button {
            position: absolute;
            left: 12px;
            top: 14px;

            svg {
              transform: scale(-1);
            }
          }
        }
      }

      @include for-tablet {
        position: relative;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          right: 0;
          background: transparent;
          display: flex;
          top: 0;
          transform: translateX(-100%);
          z-index: -1;
        }

        &:hover {
          .sub-menu {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .sub-menu {
      @include for-tablet {
        padding: 40px;
        position: fixed;
        left: 100%;
        top: 0;
        background-color: #F3F8F3;

        width: max-content;
        max-height: 100svh !important;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease;
      }

      @include tablet {
        @include for-small-tablet{
          width: 100vw;
        }
      }

      @include tablet {
        @include for-small-tablet {
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(-150%);
          background-color: #F3F8F3;
          width: max-content;
          max-height: 100svh !important;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 24px;
          z-index: -1;
    
          &.active {
            overflow: visible;
            left: 100%;
            padding: 40px;
            transform: translateX(0);
            overflow-y: auto;
            z-index: 1;
          }
        }
      }

      @include small-tablet {
        background-color: #F3F8F3;
        opacity: 0;
        visibility: hidden;
        overflow-y: hidden;
        display: none;

        &.active {
          padding: 24px 16px;
          display: flex;
          flex-direction: column;
          gap: 24px;
          flex-grow: 1;
          max-height: 100% !important;
          height: calc(100% - 40px);
          overflow-y: auto;
          opacity: 1;
          visibility: visible;
          margin-right: 4px;

          &::-webkit-scrollbar {
            width: 2px;
            cursor: pointer;
          }
        
          &::-webkit-scrollbar-thumb {
              background-color: var(--scrollbar-thumb);
              cursor: pointer;
              transition: all 0.2s;
          }
          
          &::-webkit-scrollbar-track {
              background-color: var(--scrollbar-track);
          }
          
          &::-webkit-scrollbar-button {
              display: none;
              background-color: transparent;
              box-shadow: none;
          }
        }
      }
    }

    &-link {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      svg {
        stroke: var(--cl-c);
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &-page {
      display: none;

      @include small-tablet {
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: #C3E9C7;
        border-radius: 37px;
        font-size: 14px;
        line-height: 160%;
        font-weight: 300;
        color: var(--cl-c);

        svg {
          stroke: var(--cl-c);
        }
      }
    }

    &-bottom {
      display: none;


      @include  small-tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &-lang {
      padding: 4px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--cl-a);
      border-radius: 68px;

      a {
        padding: 8px 30px;
        font-size: 12px;
        line-height: normal;
        font-weight: 500;
        color: var(--cl-c);
        border-radius: 999px;
        text-transform: uppercase;

        &.active {
          background-color: var(--cl-c);
          color: var(--cl-a);
        }
      }
    }
  }
}

html[data-theme="dark"] {
  .mobile {    
    background-color: var(--cl-j);

    &__menu {
      color: var(--cl-b);

      &-link {
        color: var(--cl-b);

        svg {
          stroke: var(--cl-b);
        }
      }

      &-page {
        color: var(--cl-g);

        svg {
          stroke: var(--cl-g);
        }
      }

      .menu-link {
        svg {
          stroke: var(--cl-b);
        }
      }

      .menu-button {
        svg {
          stroke: var(--cl-b);
        }
      }

      .sub-menu {
        background-color: #262626;

        @include small-tablet {
          &.active {
            margin-right: 4px;
          }
        }
      }

      .menu-item-has-children.active {
        @include small-tablet {
          .menu-link {
            background-color: #1E1E1E;
            border-top: 1px solid #6D6D6D;
            border-bottom: 1px solid #6D6D6D;
          }
        }
      }

      &-lang {
        background-color: var(--cl-f);
  
        a {
          color: var(--cl-b);

          &.active {
            background-color: var(--cl-o);
            color: var(--cl-b);
          }
        }
      }
    }
  }
}