.modal {
  position: relative;
  // flex-direction: column;
  // align-items: center;
  // grid-gap: clamp(30px, 4.883vw, 50px);
  border-radius: 25px;
  z-index: 1;
  max-width: fit-content;
  padding: 24px;
  width: 92vw;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #083F08;

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px;
    line-height: 140%;
    font-weight: 500;
    color: #083F08;
  }

  &__btn {
    padding: 20px clamp(20px, 2.93vw, 30px);
    height: 64px;
    font-size: 24px;
  }
}
