.articles-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: clamp(20px, 2.907vw, 50px);
  border-radius: 25px;
  background: var(--bg-d);
  padding: clamp(16px, 1.1628vw, 20px);
  height: 100%;

  @include mobile{
    padding: 20px;
  }

  &__image {
    display: flex;
    border-radius: clamp(20px, 1.4535vw, 25px);
    width: clamp(260px, 27.6744vw, 476px);
    height: clamp(200px, 12.2093vw, 210px);
    overflow: hidden;

    picture,
    img {
      border-radius: clamp(20px, 1.4535vw, 25px);
      width: 100%;
      height: 100%;
      transition: all .3s;
    }

    @include laptop{
      width: 100%;
    }

    @include tablet{
      height: clamp(150px, 12.2093vw, 210px);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 40px);
    gap: 10px;

    @include laptop{
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 2;
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }

  &__tag {
    border: 1px solid var(--br-b);
    border-radius: 8px;
    width: fit-content;
    height: clamp(24px, 1.7442vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(15px, 1.1628vw, 20px);
    color: var(--cl-c);
    padding: 7px 8px 5px;
    transition: all .3s;

    @include laptop{
      background: var(--bg-g);
    }

    &:hover{
      background: var(--bg-b) !important;
      color: var(--cl-a) !important;
    }
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px 15px;
    height: 100%;

    p,a {
      width: 100%;
      font-size: 35px;
      font-size: 27px;
      line-height: 120%;
      font-weight: 400;

      @include for-tablet{
        max-width: clamp(300px, 33.6047vw, 578px);
      }
    }

    @include tablet{
      flex-direction: column;
    }
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: fit-content;
    height: clamp(29px, 1.7442vw, 30px);
    background: var(--cl-c);
    font-family: var(--font-family);
    font-size: clamp(18px, 1.3953vw, 24px);
    line-height: 108%;
    font-weight: 400;
    color: var(--bg-d);
    padding: 7px 10px 5px;

    @include mobile{
      line-height: 144%;
    }
  }

  &:hover{
    .articles-card__image{
      img,picture{
        transform: scale(1.03);
      }
    }
  }
}
