.catalog-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  gap: clamp(10px, 1.1628vw, 20px);

  &__image{
    cursor: pointer;
    position: relative;
    padding: 0 clamp(8px, 1.1628vw, 20px) clamp(8px, 1.1628vw, 20px);
    margin-top: clamp(60px, 10.3488vw, 178px);
    height: clamp(137px, 17.1512vw, 295px);
    width: 100%;
    background-color: var(--bg-k);
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    height: 380px;
    height: clamp(137px, 19.792vw, 380px);
    margin-top: 90px;
    margin-top: clamp(60px, 4.688vw, 90px);

    img,picture{
      max-height: clamp(189px, 26.3372vw, 453px);
      min-height: clamp(189px, 19.0116vw, 327px);
      height: auto;
      width: auto;
      transition: all .3s;
    }
  }

  &:hover{
    .catalog-card__image{
      img,picture{
        transform: scale(1.02);
      }
    }
  }

  &__label {
    position: absolute;
    left: clamp(10px, 1.953vw, 20px);
    padding: 10px;
    background-color: #ffaf3e;
    border-radius: 10px;
    font-size: clamp(21px, 2.344vw, 24px);
    line-height: 100%;
    font-weight: 500;
    color: var(--cl-m);
    z-index: 3;

    @include for-mobile{
      top: clamp(10px, 1.953vw, 20px);
    }

    @include mobile{
      bottom: 10px;
    }

    @media (max-width: (500px)) {
      font-size: clamp(14px, 3.2vw, 16px);
      padding: 8px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
  }

  &__title{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 108%;
    font-weight: 500;
    color: var(--cl-a);

    @include tablet{
      line-height: 137%;
    }

    @include for-mobile{
      height: 25px;
      white-space: nowrap;
    }

    @include mobile{
        height: 25px;
        max-width: 95%;
        white-space: normal;
    }

    
    @media (max-width: (500px)) {
      font-size: 22px;
    }
  }

  &__series{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 108%;
    font-weight: 500;
    color: var(--cl-c);
    transition: all .3s;
    text-decoration: underline;
    text-decoration-color: transparent;
    width: fit-content;
  
    @include tablet{
        line-height: 113%;
    }

    &:hover{
      text-decoration-color: inherit;
    }

    @include mobile{
      margin-top: 2px;
    }

    @media (max-width: (500px)) {
      font-size: 22px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    min-height: 58px;
    margin-bottom: auto;

    @include for-mobile{
      gap: 5px;
    }
  }

  &__text{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 112%;
    font-weight: 400;
    color: var(--cl-c);

    span {
      font-weight: 500;
    }

    @include tablet{
      line-height: 130%;
    }

    @media (max-width: (490px)) {
      font-size: 20px;
    }

    @include small-tablet{
      & + .catalog-card__text{
        margin-top: -2px;
      }
    }
  }

  &__price{
    display: flex;
    gap: clamp(15px, 1.1628vw, 20px);

    &-current {
      font-family: var(--font-family);
      font-size: 35px;
      line-height: 74%;
      font-weight: 500;
      color: var(--cl-b);
      height: fit-content;

      b {
        font-size: 30px;
        font-weight: 500;

        @media (max-width: (500px)) {
          font-size: 24px;
        }
      }

      @include tablet{
          line-height: 104%;
      }

      @media (max-width: (500px)) {
        font-size: 30px;
      }
    }

    &-sale {
      font-size: 25px;
      line-height: 80%;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      z-index: 1;
      height: fit-content;
      display: inline-flex;

      @media (max-width: (500px)) {
        font-size: 23px;
      }

      b{
        font-size: 25px;

        @media (max-width: (500px)) {
          font-size: 23px;
        }
      }

      &::before{
          position: absolute;
          content: '';
          background: var(--bg-c);
          width: 100%;
          height: 1px;
          left: 0;
          transform: translateY(-50%);
          top: 50%;
          z-index: 2;
          pointer-events: none;
      }

      @include tablet{
        line-height: 125%;
      }
    }

    
  }
}
