.podcast-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @include for-small-tablet {
      picture,
      img {
        width: 174px;
        height: 96px;
      }
    }

    @include small-tablet {
      width: 100%;

      picture,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__box {
    @include for-small-tablet {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 24px;
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__top {
    @include for-small-tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px 16px;
    }

    @include small-tablet {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 12px 16px;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 4px;

    @include for-mobile {
      justify-content: flex-end;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: normal;
    text-transform: lowercase;
    color: var(--cl-f);

    svg {
      stroke: var(--cl-f);
    }

    @include small-tablet {
      grid-column: 1 / -1;
    }
  }

  &__labels {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    span {
      position: relative;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--cl-c);

      svg {
        stroke: currentColor;
      }
    }
  }

  &__views,
  &__author,
  &__pubtime {
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: normal;
    font-weight: 300;

    svg {
      stroke: var(--cl-f);
    }
  }

  &__title {
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    color: var(--cl-c);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__excerpt {
    font-size: 16px;
    line-height: 160%;
    font-weight: 300;
    color: var(--cl-c);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__bottom {
    & > button {
      padding: 13px 0;
      width: 100%;
      border: 1px solid var(--cl-c);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      font-size: 16px;
      line-height: 160%;
      font-weight: 500;
      color: var(--cl-c);
    }
  }

  &__divider {
    display: flex;

    svg {
      width: 100%;
      height: 100%;
      stroke: #CFCFCF;
    }
  }
}

html[data-theme="dark"] {
  .podcast-card {    
    &__tag {
      color: var(--cl-k);

      svg {
        stroke: var(--cl-k);
      }
    }

    &__views,
    &__author,
    &__pubtime {  
      svg {
        stroke: var(--cl-k);
      }
    }

    &__title {
      color: var(--cl-l);
    }

    &__details {
      color: var(--cl-k);
    }

    &__bottom {
      svg {
        stroke: var(--cl-d);
      }

      & > button {
        border: 1px solid var(--cl-d);
        color: var(--cl-d);
      }
    }

    &__excerpt {
      color: var(--cl-l);
    }

    &__labels span {
      color: var(--cl-l);
    }

    &__divider svg {
      stroke: var(--cl-l);
    }
  }
}