.video-card {
  display: flex;
  flex-direction: column;

  &__poster {
    position: relative;
    width: 100%;
    overflow: hidden;

    picture,
    img {
      width: 100%;
      height: 100%;
      transition: all .3s;
    }
  }

  &__btn {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 36px;

    @include for-small-tablet {
      padding: 22px clamp(12px, 2.344vw, 24px) 30px;
    }

    @include small-tablet {
      padding: 22px 0 30px;
    }

    svg {
      flex-shrink: 0;
      stroke: var(--cl-c);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      width: 100%;
      height: 24px;
      background-image: var(--line);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-size: clamp(16px, 2.344vw, 18px);
    line-height: 160%;
    font-weight: 500;
    color: var(--cl-c);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

body[data-theme="dark"] {
  .video-card__info {
    svg {
      stroke: var(--cl-l);
    }
  }
  .video-card__title {
    color: var(--cl-l);
  }
}