<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__divider">
        <svg width='1280' height='8'>
          <use href='img/sprite/sprite.svg#full-line'></use>
        </svg>
      </div>

      <div class="footer__socials">
        <span class="footer__socials-heading">Слідкуй за нами також</span>

        <ul class="socials">
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#telegram'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#instagram'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#youtube'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#facebook'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__divider">
        <svg width='1280' height='8'>
          <use href='img/sprite/sprite.svg#full-line'></use>
        </svg>
      </div>

      <a href="/" class="footer__logo logo">
        <img class="light-logo" width='1280' height='142' src="../img/index/gazeta-white.svg" alt="Зелена газета">
        <img class="dark-logo" width='1280' height='142' src="../img/index/gazeta-black.svg" alt="Зелена газета">
      </a>

      <div class="footer__navs" data-default="1" data-single='true' data-accordion-init>
        <div class="footer__navs-left">
          <div class="footer__nav">
            <button data-id='1'>
              Турбота про себе
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </button>

            <ul data-content='1'>
              <li>
                <a href="#">Краса</a>
              </li>
              <li>
                <a href="#">Фітнес</a>
              </li>
              <li>
                <a href="#">Схуднення та дієти</a>
              </li>
              <li>
                <a href="#">Емоційна стабільність</a>
              </li>
              <li>
                <a href="#">Саморозвиток</a>
              </li>
            </ul>
          </div>

          <div class="footer__nav">
            <button data-id='2'>
              Новини
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </button>

            <ul data-content='2'>
              <li>
                <a href="#">Дослідження</a>
              </li>
              <li>
                <a href="#">Новини з експертами</a>
              </li>
              <li>
                <a href="#">Новини пов’язані з темами проєкту</a>
              </li>
              <li>
                <a href="#">Новини світу каннабісу</a>
              </li>
              <li>
                <a href="#">Тренди</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer__nav">
          <button data-id='3'>
            Психологія
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </button>

          <ul data-content='3'>
            <li>
              <a href="#">Психологія відносин</a>
            </li>
            <li>
              <a href="#">Секс</a>
            </li>
            <li>
              <a href="#">Арт-терапія та мантричні практики</a>
            </li>
            <li>
              <a href="#">Реальні історії людей</a>
            </li>
            <li>
              <a href="#">Психологія змін</a>
            </li>
            <li>
              <a href="#">Вікова психологія</a>
            </li>
            <li>
              <a href="#">Психологія в роботі</a>
            </li>
            <li>
              <a href="#">Робота зі стресом</a>
            </li>
            <li>
              <a href="#">Самооцінка та прийняття себе</a>
            </li>
            <li>
              <a href="#">Емоційний інтелект</a>
            </li>
            <li>
              <a href="#">Ментальне здоров’я</a>
            </li>
            <li>
              <a href="#">ПТСР та психологія травми</a>
            </li>
          </ul>
        </div>

        <div class="footer__nav">
          <button data-id='4'>
            Здоров’я
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </button>

          <ul data-content='4'>
            <li>
              <a href="#">Сезонні хвороби та їх лікування</a>
            </li>
            <li>
              <a href="#">Психоделіки</a>
            </li>
            <li>
              <a href="#">Словник основних Хвороб</a>
            </li>
            <li>
              <a href="#">Медичний канабіс, CBD</a>
            </li>
            <li>
              <a href="#">Ментальне здоров’я</a>
            </li>
            <li>
              <a href="#">Жіноче здоров’я</a>
            </li>
            <li>
              <a href="#">Правильне харчування</a>
            </li>
            <li>
              <a href="#">Чоловіче здоров’я</a>
            </li>
            <li>
              <a href="#">Схуднення</a>
            </li>
            <li>
              <a href="#">Пластична хірургія</a>
            </li>
            <li>
              <a href="#">Альтернативна медицина</a>
            </li>
          </ul>
        </div>

        <div class="footer__nav">
          <button data-id='5'>
            Стиль життя
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </button>

          <ul data-content='5'>
            <li>
              <a href="#">Свята та традиції</a>
            </li>
            <li>
              <a href="#">Технології та стиль життя</a>
            </li>
            <li>
              <a href="#">Надихаючі історії</a>
            </li>
            <li>
              <a href="#">Подорожі</a>
            </li>
            <li>
              <a href="#">Культура і натхнення</a>
            </li>
            <li>
              <a href="#">Підприємство та лідерство</a>
            </li>
            <li>
              <a href="#">Лайф-ворк баланс</a>
            </li>
          </ul>
        </div>

        <div class="footer__nav">
          <button data-id='6'>
            Зелена медицина

            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#arrow-down'></use>
            </svg>
          </button>

          <ul data-content='6'>
            <li>
              <a href="#">Дослідження</a>
            </li>
            <li>
              <a href="#">Історії успіху людей із галузі</a>
            </li>
            <li>
              <a href="#">Аналітика</a>
            </li>
            <li>
              <a href="#">Законодавчі зміни</a>
            </li>
            <li>
              <a href="#">Медичний лайфстайл</a>
            </li>
            <li>
              <a href="#">Маркетинг та бізнес</a>
            </li>
            <li>
              <a href="#">Про використання психоделіків в інших країнах</a>
            </li>
            <li>
              <a href="#">Новини фармації та медицини</a>
            </li>
            <li>
              <a href="#">Медичний канабіс</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__divider">
        <svg width='1280' height='8'>
          <use href='img/sprite/sprite.svg#full-line'></use>
        </svg>
      </div>

      <div class="footer__bottom">
        <ul class="footer__info">
          <li>
            <a href="/privacy-policy.html">Політика приватності</a>
          </li>
          <li>
            <a href="/rules-policy.html">Правила використання</a>
          </li>
          <li>
            <a href="/public-offer.html">Публічна оферта</a>
          </li>
          <li>
            <a href="/edditorial-policy.html">Редакційна політика</a>
          </li>
        </ul>
        
        <button class="footer__contacts" data-btn-modal="contact">
          <svg width='20' height='20'>
            <use href='img/sprite/sprite.svg#mail'></use>
          </svg>
          Написати нам
        </button>
      </div>
    </div>
  </div>
</footer>

<button class="starting-popup" data-btn-modal="age-alert"></button>

<button class="starting-podcasts" data-btn-modal="podcasts"></button>

<div class="cookies">
  <div class="container">
    <div class="cookies__wrapp">
        <div class="cookies__text">
          Ми використовуємо файли cookie щоб зробити ваше користування веб-сайтом зручнішим.  Продовжуючи користуватися цим сайтом, ви погоджуєтесь із використанням файлів cookies. Дізнайтеся більше про використання cookie на сторінці
        </div>

        <div class="cookies__controls" data-single='true' data-accordion-init>
          <div class="cookies__controls-btns">
            <button class="cookies__apply">Прийняти</button>
            <button class="cookies__cancel">Відхилити</button>
  
            <button class="cookies__btn" data-id='1'>
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#settings'></use>
              </svg>
            </button>
          </div>

          <div class="cookies__settings" data-content='1'>
            <ul>
              <li>
                <p>Аналітика</p>
                <label>
                  <input type="checkbox" name="analytics">
                  <span></span>
                </label>
              </li>
              <li>
                <p>Уподобання</p>
                <label>
                  <input type="checkbox" name="preferences">
                  <span></span>
                </label>
              </li>
              <li>
                <p>Маркетинг</p>
                <label>
                  <input type="checkbox" name="marketing">
                  <span></span>
                </label>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>