<footer class="footer">
  <div class="container">
    <div class="footer__wrapp">
      <div class="footer__left">
        <span class="footer__heading">Menu</span>

        <ul class="footer__nav">
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/">Main</a>

            <div class="footer__nav-extended">
              <span>Company:</span>

              <ul>
                <li>
                  <a class="footer__nav-link" href="/about-us.html">About us</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="/stages-of-development.html">Stages of development</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="/faq.html">Questions & answers</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Trademarks</a>

            <div class="footer__nav-extended">
              <span>CSR:</span>

              <ul>
                <li>
                  <a class="footer__nav-link" href="#">Consume sensibly</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">Eco-oriented philosophy</a>
                </li>
                <li>
                  <a class="footer__nav-link" href="#">Sustainable development</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/blog.html">Blog</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/catalog.html">Catalog</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="/contacts.html">Contacts</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Delivery</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">Returns</a>
          </li>
          <li class="footer__nav-item">
            <a class="footer__nav-link" href="#">User agreement</a>
          </li>
        </ul>

        <div class="footer__pays" >
          <span class="footer__pays-icon footer__pays-icon--visa">
            <svg width='82' height='82'>
              <use href='img/sprite/sprite.svg#visa'></use>
            </svg>
          </span>
          <span class="footer__pays-icon">
            <svg width='40' height='25'>
              <use href='img/sprite/sprite.svg#ms'></use>
            </svg>
          </span>
        </div>
      </div>

      <div class="footer__right">
        <div class="footer__right-top">
          <span class="footer__heading">MAIN OFFICE</span>

          <ul class="footer__contacts">
            <li>
              <span class="location">01033, Kyiv, Sportyvna 3</span>
            </li>
            <li>
              <span class="tel">phone.:<a href="tel:0445029900">(044) 502 99 00</a></span>
            </li>
            <li>
              <a class="mail" href="mailto:info@newproducts.com">info@newproducts.com</a>
            </li>
          </ul>
        </div>

        <div class="footer__right-bot">
          <div class="footer__pays" >
            <span class="footer__pays-icon footer__pays-icon--visa">
              <svg width='82' height='82'>
                <use href='img/sprite/sprite.svg#visa'></use>
              </svg>
            </span>
            <span class="footer__pays-icon">
              <svg width='40' height='25'>
                <use href='img/sprite/sprite.svg#ms'></use>
              </svg>
            </span>
          </div>
          <div class="footer__terms">
            <a class="footer__facebook-link" href="#">Facebook</a>
            <p class="footer__copyright">© GC "New products". All rights reserved. The use of information is allowed only under the condition of direct reference to the source.</p>
          </div>

          <a class="footer__powered" href="#">
            <p>powered by Geniustudio</p>
            <img width='23' height='21' src="./img/sprite/geniustudio_logo.svg" alt="logo">
          </a>

          <a href="#" class="footer__alert">
            <svg width='144' height='128'>
              <use href='img/sprite/sprite.svg#alert'></use>
            </svg>
            <p>CONSUME <br> SENSIBLY</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
