<header class="header fixed-block">
  <div class="container">
    <div class="header__wrapp">
      <div class="header__top">
        <div class="header__top-left">
          <button class="burger">
            <svg class="burger__open" width='32' height='32'>
              <use href='img/sprite/sprite.svg#burger-open'></use>
            </svg>
    
            <svg class="burger__close" width='32' height='32'>
              <use href='img/sprite/sprite.svg#burger-close'></use>
            </svg>
          </button>

          <div class="theme-switcher">
            <label class="dark-theme">
              <input type="radio" name="color-theme" value="dark" />

              <span>
                <svg class="dark-theme" width="32" height="32">
                  <use href="img/sprite/sprite.svg#dark"></use>
                </svg>
              </span>
            </label>

            <label class="light-theme">
              <input type="radio" name="color-theme" value="light" checked />

              <span>
                <svg class="light-theme" width="32" height="32">
                  <use href="img/sprite/sprite.svg#light"></use>
                </svg>
              </span>
            </label>
          </div>
        </div>

        <div class="header__controls">
          <div class="search">
            <div class="search__trigger">
              <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#search'></use>
              </svg>
            </div>
          </div>

          <a class="header__link" href="/medicine.html">
            <svg width='22' height='22'>
              <use href='img/sprite/sprite.svg#medicine'></use>
            </svg>
            Зелена медицина
            <svg width='22' height='22'>
              <use href='img/sprite/sprite.svg#arrow-agile'></use>
            </svg>
          </a>

          <div class="lang select" data-select>
            <div class="select__header">
              <input type="hidden" class="select__input" id="lang" name="lang" value="1">
              <span class="select__current" data-id="1">
                UA
              </span>
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>

            </div>

            <div class="select__body">
              <ul class="select__list">
                <li class="select__option" data-id="1" data-type="option">
                  UA
                </li>
                <li class="select__option" data-id="2" data-type="option">
                  EN
                </li>
                <li class="select__option" data-id="3" data-type="option">
                  RU
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="header__box">
        <a href="/" class="header__logo logo">
          <svg class="light-logo" width='1280' height='142'>
            <use href='img/sprite/sprite.svg#full-paper-dark'></use>
          </svg>
          <svg class="dark-logo" width='1280' height='142'>
            <use href='img/sprite/sprite.svg#full-paper-white'></use>
          </svg>
        </a>

        <div class="header__divider">
          <svg width='1280' height='8'>
            <use href='img/sprite/sprite.svg#full-line'></use>
          </svg>
        </div>
      </div>

      <nav class="header__nav">
        <ul class="menu">
          <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">
              Новини 
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </a>

            <ul class="sub-menu">
              <li>
                <a href="#">Психологія відносин</a>
              </li>
              <li>
                <a href="#">Секс</a>
              </li>
              <li>
                <a href="#">Арт-терапія та мантричні практики</a>
              </li>
              <li>
                <a href="#">Реальні історії людей</a>
              </li>
              <li>
                <a href="#">Психологія змін</a>
              </li>
              <li>
                <a href="#">Вікова психологія</a>
              </li>
              <li>
                <a href="#">Психологія в роботі</a>
              </li>
              <li>
                <a href="#">Робота зі стресом</a>
              </li>
              <li>
                <a href="#">Самооцінка та прийняття себе</a>
              </li>
              <li>
                <a href="#">Емоційний інтелект</a>
              </li>
              <li>
                <a href="#">Ментальне здоров’я</a>
              </li>
              <li>
                <a href="#">ПТСР та психологія травми</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">
              Медичне
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </a>

            <ul class="sub-menu">
              <li>
                <a href="#">Психологія відносин</a>
              </li>
              <li>
                <a href="#">Секс</a>
              </li>
              <li>
                <a href="#">Арт-терапія та мантричні практики</a>
              </li>
              <li>
                <a href="#">Реальні історії людей</a>
              </li>
              <li>
                <a href="#">Психологія змін</a>
              </li>
              <li>
                <a href="#">Вікова психологія</a>
              </li>
              <li>
                <a href="#">Психологія в роботі</a>
              </li>
              <li>
                <a href="#">Робота зі стресом</a>
              </li>
              <li>
                <a href="#">Самооцінка та прийняття себе</a>
              </li>
              <li>
                <a href="#">Емоційний інтелект</a>
              </li>
              <li>
                <a href="#">Ментальне здоров’я</a>
              </li>
              <li>
                <a href="#">ПТСР та психологія травми</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">
              Життєве
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </a>

            <ul class="sub-menu">
              <li>
                <a href="#">Реальні історії людей</a>
              </li>
              <li>
                <a href="#">Психологія змін</a>
              </li>
              <li>
                <a href="#">Вікова психологія</a>
              </li>
              <li>
                <a href="#">Психологія в роботі</a>
              </li>
              <li>
                <a href="#">Робота зі стресом</a>
              </li>
              <li>
                <a href="#">Самооцінка та прийняття себе</a>
              </li>
              <li>
                <a href="#">Емоційний інтелект</a>
              </li>
              <li>
                <a href="#">Ментальне здоров’я</a>
              </li>
              <li>
                <a href="#">ПТСР та психологія травми</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">
              Культурне
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </a>

            <ul class="sub-menu">
              <li>
                <a href="#">Психологія відносин</a>
              </li>
              <li>
                <a href="#">Секс</a>
              </li>
              <li>
                <a href="#">Арт-терапія та мантричні практики</a>
              </li>
              <li>
                <a href="#">Реальні історії людей</a>
              </li>
              <li>
                <a href="#">Психологія змін</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">
              Законне
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </a>

            <ul class="sub-menu">
              <li>
                <a href="#">Психологія відносин</a>
              </li>
              <li>
                <a href="#">Арт-терапія та мантричні практики</a>
              </li>
              <li>
                <a href="#">Реальні історії людей</a>
              </li>
              <li>
                <a href="#">Психологія змін</a>
              </li>
              <li>
                <a href="#">Вікова психологія</a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-has-children">
            <a class="menu-link" href="#">
              Експертне
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#arrow-down'></use>
              </svg>
            </a>

            <ul class="sub-menu">
              <li>
                <a href="#">Психологія відносин</a>
              </li>
              <li>
                <a href="#">Секс</a>
              </li>
              <li>
                <a href="#">Арт-терапія та мантричні практики</a>
              </li>
              <li>
                <a href="#">Реальні історії людей</a>
              </li>
              <li>
                <a href="#">Психологія змін</a>
              </li>
              <li>
                <a href="#">Вікова психологія</a>
              </li>
              <li>
                <a href="#">Психологія в роботі</a>
              </li>
              <li>
                <a href="#">Робота зі стресом</a>
              </li>
              <li>
                <a href="#">Самооцінка та прийняття себе</a>
              </li>
              <li>
                <a href="#">Емоційний інтелект</a>
              </li>
              <li>
                <a href="#">Ментальне здоров’я</a>
              </li>
              <li>
                <a href="#">ПТСР та психологія травми</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="header__mobile">
    <div class="container">
      <div class="header__mobile-box">
        <a href="/" class="header__mobile-logo logo">
          <svg class="light-logo" width='225' height='28'>
            <use href='img/sprite/sprite.svg#full-paper-dark'></use>
          </svg>
          <svg class="dark-logo" width='225' height='28'>
            <use href='img/sprite/sprite.svg#full-paper-white'></use>
          </svg>
        </a>

        <div class="header__mobile-controls">
          <!-- replace for  -->
          <div class="search">
            <div class="search__trigger">
              <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#search'></use>
              </svg>
            </div>
          </div>

          <button class="burger">
            <svg class="burger__open" width='32' height='32'>
              <use href='img/sprite/sprite.svg#burger-open'></use>
            </svg>
    
            <svg class="burger__close" width='32' height='32'>
              <use href='img/sprite/sprite.svg#burger-close'></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="header__mobile-divider">
      <svg width='768' height='5'>
        <use href='img/sprite/sprite.svg#full-line'></use>
      </svg>
    </div>
  </div>
</header>

<div class="mobile">
  <div class="mobile__box">
    <ul class="mobile__menu menu" data-single='true' data-accordion-init>
      <li class="menu-item">
        <a class="menu-link" href="#">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#list'></use>
          </svg>
          Усі
        </a>
      </li>
      <li class="menu-item menu-item-has-children">
        <a class="menu-link" href="/listing-category.html">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#heart'></use>
          </svg>
          Турбота про себе
        </a>
        <button class="menu-button" data-id='1'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#agile-right'></use>
          </svg>
        </button>

        <ul class="sub-menu" data-content='1'>
          <li>
            <a href="/listing-subcategory.html">Усі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія відносин</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Секс</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Арт-терапія та мантричні практики</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Реальні історії людей</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія змін</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Вікова психологія</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія в роботі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Робота зі стресом</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Самооцінка та прийняття себе</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Емоційний інтелект</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Ментальне здоров’я</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">ПТСР та психологія травми</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a class="menu-link" href="/listing-category.html">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#leaf'></use>
          </svg>
          Психологія
        </a>

        <button class="menu-button" data-id='2'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#agile-right'></use>
          </svg>
        </button>

        <ul class="sub-menu" data-content='2'>
          <li>
            <a href="/listing-subcategory.html">Усі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія відносин</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Секс</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Арт-терапія та мантричні практики</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Реальні історії людей</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a class="menu-link" href="/listing-category.html">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#doctor'></use>
          </svg>
          Здоров’я
        </a>

        <button class="menu-button" data-id='3'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#agile-right'></use>
          </svg>
        </button>

        <ul class="sub-menu" data-content='3'>
          <li>
            <a href="/listing-subcategory.html">Усі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія відносин</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Секс</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Арт-терапія та мантричні практики</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Реальні історії людей</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія змін</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Вікова психологія</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія в роботі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Робота зі стресом</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Самооцінка та прийняття себе</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Емоційний інтелект</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a class="menu-link" href="/listing-category.html">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#style'></use>
          </svg>
          Стиль життя
        </a>

        <button class="menu-button" data-id='4'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#agile-right'></use>
          </svg>
        </button>

        <ul class="sub-menu" data-content='4'>
          <li>
            <a href="/listing-subcategory.html">Усі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія відносин</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Секс</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Арт-терапія та мантричні практики</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Робота зі стресом</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Самооцінка та прийняття себе</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Емоційний інтелект</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Ментальне здоров’я</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">ПТСР та психологія травми</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a class="menu-link" href="/listing-category.html">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#bulb'></use>
          </svg>
          Зелена медицина
        </a>

        <button class="menu-button" data-id='5'>
          <svg width='16' height='16'>
            <use href='img/sprite/sprite.svg#agile-right'></use>
          </svg>
        </button>

        <ul class="sub-menu" data-content='5'>
          <li>
            <a href="/listing-subcategory.html">Усі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія відносин</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Секс</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Арт-терапія та мантричні практики</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Реальні історії людей</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія змін</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Вікова психологія</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Психологія в роботі</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Робота зі стресом</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Самооцінка та прийняття себе</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Емоційний інтелект</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">Ментальне здоров’я</a>
          </li>
          <li>
            <a href="/listing-subcategory.html">ПТСР та психологія травми</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#news'></use>
          </svg>
          Новини
        </a>
      </li>
    </ul>

    <div class="mobile__menu-details">
      <ul class="mobile__menu menu" data-single='true' data-accordion-init>
        <li class="menu-item menu-item-has-children">
          <a class="menu-link" href="#">
            Про нас
          </a>
          <button class="menu-button" data-id='1'>
            <svg width='16' height='16'>
              <use href='img/sprite/sprite.svg#agile-right'></use>
            </svg>
          </button>
  
          <ul class="sub-menu" data-content='1'>
            <li>
              <a href="/privacy-policy.html">Політика приватності</a>
            </li>
            <li>
              <a href="/rules-policy.html">Правила використання</a>
            </li>
            <li>
              <a href="/public-offer.html">Публічна оферта</a>
            </li>
            <li>
              <a href="/edditorial-policy.html">Редакційна політика</a>
            </li>
          </ul>
        </li>
      </ul>

      <a href="/medicine.html" class="mobile__menu-page">
        <svg width='22' height='22'>
          <use href='img/sprite/sprite.svg#medicine'></use>
        </svg>
        Зелена медицина
        <svg width='22' height='22'>
          <use href='img/sprite/sprite.svg#arrow-agile'></use>
        </svg>
      </a>

      <div class="mobile__menu-bottom">
        <ul class="mobile__menu-lang">
          <li>
            <a href="#" class="active">UA</a>
          </li>
          <li>
            <a href="#">EN</a>
          </li>
          <li>
            <a href="#">RU</a>
          </li>
        </ul>

        <div class="theme-switcher">
          <label class="dark-theme">
            <input type="radio" name="color-theme" value="dark" />

            <span>
              <svg class="dark-theme" width="32" height="32">
                <use href="img/sprite/sprite.svg#dark"></use>
              </svg>
            </span>
          </label>

          <label class="light-theme">
            <input type="radio" name="color-theme" value="light" checked />

            <span>
              <svg class="light-theme" width="32" height="32">
                <use href="img/sprite/sprite.svg#light"></use>
              </svg>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
