<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
      <a href="/" class="logo">
        <img width='299' height='120' src='img/sprite/logo.svg' alt='image'>
      </a>

      <div class="header__inner">
        <a href="#" class="geo-link">
          <svg width='32' height='32'>
            <use href='img/sprite/sprite.svg#geo'></use>
          </svg>
          Ukraine
        </a>

        <div class="main-phone">
          <button class="main-phone__btn">
            <svg width='32' height='32'>
              <use href='img/sprite/sprite.svg#telephone'></use>
            </svg>
          </button>

          <div class="main-phone__wrapp">
            <a href="tel:380937871678" class="main-phone__link">+38 093 78 71 678</a>
          </div>
        </div>

        <form class="header__search" data-search>
          <div class="search-form">
            <label for="search_2" class="search-form__label">
              <input name="search" id="search_2" type="text" class="search-form__input">
              <button class="search-form__btn">
                <svg width='32' height='32'>
                  <use href='img/sprite/sprite.svg#search'></use>
                </svg>
                <svg width='32' height='32' class="search-form__btn-close">
                  <use href='img/sprite/sprite.svg#close-white'></use>
                </svg>
              </button>
            </label>
          </div>

          <ul class="search-wrapper">
            <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__inner">
                <div class="search-wrapper__image">
                  <picture>
                    <source type='image/webp' srcset='img/index/revo.webp'>
                    <img width='60' height='90' src='img/index/revo.png' alt='image'>
                  </picture>
                </div>

                <div class="search-wrapper__box">
                  <span class="search-wrapper__title">Revo™</span>
                  <span class="search-wrapper__pretitle">REVO alco energy</span>
                  <span class="search-wrapper__price">50<b>₴</b></span>
                </div>
              </a>
            </li>
            <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__inner">
                <div class="search-wrapper__image">
                  <picture>
                    <source type='image/webp' srcset='img/index/shake.webp'>
                    <img width='60' height='90' src='img/index/shake.png' alt='image'>
                  </picture>
                </div>

                <div class="search-wrapper__box">
                  <span class="search-wrapper__title">Shake™</span>
                  <span class="search-wrapper__pretitle">BITTER LEMON</span>
                  <span class="search-wrapper__price">50<b>₴</b></span>
                </div>
              </a>
            </li>
            <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__inner">
                <div class="search-wrapper__image">
                  <picture>
                    <source type='image/webp' srcset='img/index/apps.webp'>
                    <img width='60' height='90' src='img/index/apps.png' alt='image'>
                  </picture>
                </div>

                <div class="search-wrapper__box">
                  <span class="search-wrapper__title">APPS™</span>
                  <span class="search-wrapper__pretitle">Cherry</span>
                  <span class="search-wrapper__price">50<b>₴</b></span>
                </div>
              </a>
            </li>
            <li class="search-wrapper__item">
                <a href="#" class="search-wrapper__link">
                  до всіх результатів
                  <svg width='40' height='35'>
                    <use href='img/sprite/sprite.svg#arrow-r'></use>
                  </svg>
                </a>
            </li>
          </ul>
        </form>

        <button class="header__btn user" data-btn-modal="order">
          <svg width='32' height='32'>
            <use href='img/sprite/sprite.svg#user'></use>
          </svg>
        </button>

        <a class="header__btn cart" href="/cart.html">
          <svg width='32' height='32'>
            <use href='img/sprite/sprite.svg#Frame'></use>
          </svg>
          <span class="header__btn-count">2</span>
        </a>

      </div>


      <button class="burger">
        <span class="burger__line"></span>
      </button>


    </div>
  </div>
</header>

<div class="mobile">
  <div class="container">
    <div class="mobile__box">
      <form class="header__search" data-search>
        <div class="search-form">
          <label for="search" class="search-form__label">
            <input name="search" id="search" type="text" class="search-form__input" placeholder="Search">
            <button class="search-form__btn">
              <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#search'></use>
              </svg>
              <svg width='32' height='32' class="search-form__btn-close">
                <use href='img/sprite/sprite.svg#close-white'></use>
              </svg>
            </button>
          </label>
        </div>

        <ul class="search-wrapper">
          <li class="search-wrapper__item">
            <span class="search-wrapper__title">РЕКОМЕНДУЄМО</span>
          </li>
          <li class="search-wrapper__item">
            <a href="#" class="search-wrapper__inner">
              <div class="search-wrapper__image">
                <picture>
                  <source type='image/webp' srcset='img/index/revo.webp'>
                  <img width='60' height='90' src='img/index/revo.png' alt='image'>
                </picture>
              </div>

              <div class="search-wrapper__box">
                <span class="search-wrapper__title">Revo™</span>
                <span class="search-wrapper__pretitle">REVO alco energy</span>
                <span class="search-wrapper__price">50<b>₴</b></span>
              </div>
            </a>
          </li>
          <li class="search-wrapper__item">
            <a href="#" class="search-wrapper__inner">
              <div class="search-wrapper__image">
                <picture>
                  <source type='image/webp' srcset='img/index/shake.webp'>
                  <img width='60' height='90' src='img/index/shake.png' alt='image'>
                </picture>
              </div>

              <div class="search-wrapper__box">
                <span class="search-wrapper__title">Shake™</span>
                <span class="search-wrapper__pretitle">BITTER LEMON</span>
                <span class="search-wrapper__price">50<b>₴</b></span>
              </div>
            </a>
          </li>
          <li class="search-wrapper__item">
            <a href="#" class="search-wrapper__inner">
              <div class="search-wrapper__image">
                <picture>
                  <source type='image/webp' srcset='img/index/apps.webp'>
                  <img width='60' height='90' src='img/index/apps.png' alt='image'>
                </picture>
              </div>

              <div class="search-wrapper__box">
                <span class="search-wrapper__title">APPS™</span>
                <span class="search-wrapper__pretitle">Cherry</span>
                <span class="search-wrapper__price">50<b>₴</b></span>
              </div>
            </a>
          </li>
          <li class="search-wrapper__item">
              <a href="#" class="search-wrapper__link">
                до всіх результатів
                <svg width='40' height='35'>
                  <use href='img/sprite/sprite.svg#arrow-r'></use>
                </svg>
              </a>
          </li>
        </ul>
      </form>

      <ul class="search-wrapper">
        <li class="search-wrapper__item">
          <span class="search-wrapper__title">РЕКОМЕНДУЄМО</span>
        </li>
        <li class="search-wrapper__item">
          <a href="#" class="search-wrapper__inner">
            <div class="search-wrapper__image">
              <picture>
                <source type='image/webp' srcset='img/index/revo.webp'>
                <img width='60' height='90' src='img/index/revo.png' alt='image'>
              </picture>
            </div>

            <div class="search-wrapper__box">
              <span class="search-wrapper__title">Revo™</span>
              <span class="search-wrapper__pretitle">REVO alco energy</span>
              <span class="search-wrapper__price">50<b>₴</b></span>
            </div>
          </a>
        </li>
        <li class="search-wrapper__item">
          <a href="#" class="search-wrapper__inner">
            <div class="search-wrapper__image">
              <picture>
                <source type='image/webp' srcset='img/index/shake.webp'>
                <img width='60' height='90' src='img/index/shake.png' alt='image'>
              </picture>
            </div>

            <div class="search-wrapper__box">
              <span class="search-wrapper__title">Shake™</span>
              <span class="search-wrapper__pretitle">BITTER LEMON</span>
              <span class="search-wrapper__price">50<b>₴</b></span>
            </div>
          </a>
        </li>
        <li class="search-wrapper__item">
          <a href="#" class="search-wrapper__inner">
            <div class="search-wrapper__image">
              <picture>
                <source type='image/webp' srcset='img/index/apps.webp'>
                <img width='60' height='90' src='img/index/apps.png' alt='image'>
              </picture>
            </div>

            <div class="search-wrapper__box">
              <span class="search-wrapper__title">APPS™</span>
              <span class="search-wrapper__pretitle">Cherry</span>
              <span class="search-wrapper__price">50<b>₴</b></span>
            </div>
          </a>
        </li>
        <li class="search-wrapper__item">
            <a href="#" class="search-wrapper__link">
              до всіх результатів
              <svg width='40' height='35'>
                <use href='img/sprite/sprite.svg#arrow-r'></use>
              </svg>
            </a>
        </li>
      </ul>

      <ul class="footer__nav">
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="/">Main</a>

          <div class="footer__nav-extended">
            <span>Company:</span>

            <ul>
              <li>
                <a class="footer__nav-link" href="/about-us.html">About us</a>
              </li>
              <li>
                <a class="footer__nav-link" href="/stages-of-development.html">Stages of development</a>
              </li>
              <li>
                <a class="footer__nav-link" href="/faq.html">Questions & answers</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Trademarks</a>

          <div class="footer__nav-extended">
            <span>CSR:</span>

            <ul>
              <li>
                <a class="footer__nav-link" href="#">Consume sensibly</a>
              </li>
              <li>
                <a class="footer__nav-link" href="#">Eco-oriented philosophy</a>
              </li>
              <li>
                <a class="footer__nav-link" href="#">Sustainable development</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Blog</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Catalog</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</div>
