<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Зелена Газета">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Зелена Газета</title>
 
  <link rel="preload" href="fonts/e-Ukraine-Light.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/e-Ukraine-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/e-Ukraine-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/e-Ukraine-Bold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
