<div class="overlay fixed-block" data-overlay>
    <div class="modal modal--contact" data-popup="contact">
        <div class="modal__box">
          <div class="modal__top">
            <div class="modal__title">Є питання? Напишіть нам</div>
  
            <button class="modal__close close">
              <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#burger-close'></use>
              </svg>
            </button>
          </div>

          <form class="form">
            <div class="form__box">
                <label class="form__label">
                    <input class="form__input" type="email" name="email" placeholder="Введіть e-mail">
                </label>
                <label>
                    <textarea class="form__textarea" name="textarea" placeholder="Текст повідомлення"></textarea>
                </label>

                <button class="form__submit" data-btn-inner="success">Надіслати</button>
            </div>
        </form>
        </div>
    </div>

    <div class="modal modal--success" data-popup="success">
      <div class="modal__box">
        <div class="modal__top">
          <div class="modal__title">
            Дякуємо! Повідомлення надіслано успішно!
          </div>

          <button class="modal__close close">
            <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#burger-close'></use>
            </svg>
          </button>
        </div>

        <div class="modal__text">Ми обов’язково з вами звʼяжемось!</div>
      </div>
    </div>

    <div class="modal modal--share" data-popup="share">
      <div class="modal__box">
        <div class="modal__top">
          <div class="modal__title">
            Поділитись
          </div>

          <button class="modal__close close">
            <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#burger-close'></use>
            </svg>
          </button>
        </div>

        <ul class="socials">
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#telegram'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#instagram'></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width='48' height='48'>
                <use href='img/sprite/sprite.svg#facebook'></use>
              </svg>
            </a>
          </li>
        </ul>

        <form class="share-form">
          <label class="share-form__label">
            <span class="share-form__link" data-value="https://zelenagazeta/">https://zelenagazeta/</span>
          </label>
          
          <button class="share-form__btn copy">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#copy'></use>
            </svg>
          </button>
        </form>
      </div>
    </div>

    <div class="modal modal--alert" data-popup="age-alert">
      <div class="modal__box">
        <div class="modal__title">
          Вам вже виповнилось 18 років?
        </div>

        <div class="modal__icon">
          <svg width='123' height='109'>
            <use href='img/sprite/sprite.svg#paper-logo'></use>
          </svg>
        </div>

        <div class="modal__btns">
          <div class="btn-cancel">Ні</div>
          <div class="btn-success close">Так</div>
        </div>
      </div>
    </div>

    <div class="modal modal--alert" data-popup="snake-alert">
      <div class="modal__box">
        <div class="modal__title">
          Ви лікар?
        </div>

        <div class="modal__icon">
          <svg width='123' height='109'>
            <use href='img/sprite/sprite.svg#snake'></use>
          </svg>
        </div>

        <div class="modal__btns">
          <div class="btn-cancel">Ні</div>
          <div class="btn-success close">Так</div>
        </div>
      </div>
    </div>
</div>
