<div class="overlay fixed-block" data-overlay>
    <div class="modal" data-popup="order">
        <button class="modal__close close">
            <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#close'></use>
            </svg>
        </button>

        <div class="modal__box">
          <div class="modal__order">
            <div class="modal__order-box">
              <span class="card__title">APPS™</span>
              <span class="card__pretitle">Класік</span>
              <span class="card__info">Пляшка: <b>0,5 л</b></span>
            </div>
          </div>

          <div class="modal__choose">
            <span>Оберіть потрібну кількість</span>

            <ul class="modal__choose-variants">
              <li>
                <div class="product-card">
                  <div class="product-card__inner">
                    <span class="product-card__icon">
                      <svg width='30' height='72'>
                        <use href='img/sprite/sprite.svg#my3'></use>
                      </svg>
                    </span>
                    <span class="product-card__value"><i>x</i>1</span>
                  </div>

                  <div class="product-card__currency">
                    <span class="product-card__price"><span>50 <i>₴</i></span></span>
                  </div>

                  <div class="product-btns">
                    <button type='button' class="product-btns__minus">
                      <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#minus'></use>
                      </svg>
                    </button>
                    <input type="number" name="product_quantity_2" value="0" class="product-btns__quantity" data-quantity="1"></input>
                    <button type='button' class="product-btns__plus">
                      <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#plus'></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="product-card">
                  <div class="product-card__inner">
                    <span class="product-card__icon">
                      <svg width='30' height='72'>
                        <use href='img/sprite/sprite.svg#my3'></use>
                      </svg>
                    </span>
                    <span class="product-card__value"><i>x</i>4</span>
                  </div>

                  <div class="product-card__currency">
                    <span class="product-card__quantity">30 <i>₴/ шт.</i> </span>
                    <span class="product-card__price"><span>720 <i>₴</i></span> <p class="product-card__discount">1000 <i>₴</i></p></span>
                  </div>

                  <div class="product-btns">
                    <button type='button' class="product-btns__minus">
                      <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#minus'></use>
                      </svg>
                    </button>
                    <input type="number" name="product_quantity_2" value="0" class="product-btns__quantity" data-quantity="1"></input>
                    <button type='button' class="product-btns__plus">
                      <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#plus'></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="product-card">
                  <div class="product-card__inner">
                    <span class="product-card__icon">
                      <svg width='30' height='72'>
                        <use href='img/sprite/sprite.svg#my3'></use>
                      </svg>
                    </span>
                    <span class="product-card__value"><i>x</i>24</span>
                  </div>

                  <div class="product-card__currency">
                    <span class="product-card__quantity">30 <i>₴/ шт.</i> </span>
                    <span class="product-card__price"><span>720 <i>₴</i></span></span>
                  </div>

                  <div class="product-btns">
                    <button type='button' class="product-btns__minus">
                      <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#minus'></use>
                      </svg>
                    </button>
                    <input type="number" name="product_quantity_2" value="0" class="product-btns__quantity" data-quantity="1"></input>
                    <button type='button' class="product-btns__plus">
                      <svg width='20' height='20'>
                        <use href='img/sprite/sprite.svg#plus'></use>
                      </svg>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <button class="modal__btn white-btn">ДОДАТИ ДО КОШИКА</button>
    </div>
</div>
