.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all .4s;

    svg {
      stroke: var(--cl-c);
      transition: all 0.1s;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 4px;
  }

  &__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--cl-c);
    border-radius: 50%;

    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: var(--cl-c);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--cl-c);
      color: var(--cl-a);
    }

    &.active {
      background-color: var(--cl-c);
      color: var(--cl-a);
    }
  }
}


body[data-theme="dark"] {
  .pagination {
    &__nav {
      svg {
        stroke: var(--cl-n);
      }
    }

    &__list-link {
      border: 1px solid var(--cl-n);
      background-color: transparent;
      color: var(--cl-l);

      &.active {
        background-color: var(--cl-n);
      }
    }
  }
}