.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: all .4s;

    svg {
      transition: all 0.1s;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 4px;
  }

  &__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #083F08;
    border-radius: 50%;

    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    color: #083F08;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: #083F08;
      color: var(--cl-a);
    }

    &.active {
      background-color: #083F08;
      color: var(--cl-a);
    }
  }
}
