.socials {
    display: flex;
    align-items: center;
    gap: 10px;

    li {
        display: flex;

        svg {
            stroke: var(--cl-c);
        }
    }
}

html[data-theme="dark"] {
    .socials {
        svg {
            stroke: var(--cl-l);
        }
    }
}