/* stylelint-disable */

@mixin burger {
  position: relative;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;

  &__close {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  svg {
    flex-shrink: 0;
    transition: 0.2s ease;
  }

  &.active {
    .burger__open {
      inset: 0;
      opacity: 0;
      visibility: hidden;
    }

    .burger__close {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }
}
