.cart-form {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 4.883vw, 50px);

  @include tablet{
    order: 1;
  }

  @include mobile{
    width: calc(100% + (var(--container-offset) * 2));
    margin: 0 calc(var(--container-offset) * -1);
  }

  &__box {
    padding: clamp(20px, 3.906vw, 30px);
    background-color: var(--bg-d);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.906vw, 30px);
  }

  &__title {
    font-size: clamp(20px, 1.3953vw, 24px);
    line-height: 112%;
    font-weight: 500;
    color: var(--cl-m);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 20px;

    @include small-tablet{
      grid-template-columns: 100%;
      gap: 10px;

      .select{
        max-width: 100%;

        &__list{
          padding-top: 8px;
        }
      }
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2.604vw, 20px);

    @include small-tablet{
      display: contents;
    }
  }

  &__selects {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2.604vw, 20px);
  }

  &__input {
    height: clamp(47px, 3.8953vw, 67px);
    padding: clamp(10px, 1.0465vw, 18px) 20px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: var(--font-family);
    font-size: clamp(14px, 0.938vw, 18px);
    line-height: 150%;
    font-weight: 400;
    color: var(--cl-b);

    &::placeholder {
      font-family: var(--font-family);
      font-size: clamp(14px, 0.938vw, 18px);
      line-height: 150%;
      font-weight: 400;
      color: rgba(5, 5, 5, 0.75);
    }

    &:invalid {
      border: 2px solid #ff342b;
    }

    @include small-tablet{
      order: -1;
    }
  }

  &__textarea {
    min-height: clamp(150px, 29.948vw, 230px);
    padding: clamp(10px, 2.604vw, 20px);
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: var(--font-family);
    font-size: clamp(14px, 0.938vw, 18px);
    line-height: 150%;
    font-weight: 400;
    color: var(--cl-b);

    &::placeholder {
      font-family: var(--font-family);
      font-size: clamp(14px, 0.938vw, 18px);
      line-height: 150%;
      font-weight: 400;
      color: rgba(5, 5, 5, 0.75);
    }

    &:invalid {
      border: 2px solid #ff342b;
    }

    @include small-tablet{
      order: 2;
    }
  }

  &__bottom{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 1.1628vw, 20px);
    max-width: clamp(342px,41.0465vw, 706px);
    width: 100%;
    align-self: center;

    p{
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(16px, 1.0465vw, 18px);
      line-height: 150%;
      color: rgba(5, 5, 5, 0.75);

      @include mobile{
        line-height: 169%;
      }
    }

    @include mobile{
      padding: 0 var(--container-offset);
      max-width: 100%;
    }
  }

  &__btn{
    font-size: clamp(20px, 2.3256vw, 40px);
    height: clamp(60px, 5.814vw, 100px);
    padding: clamp(20px, 1.7442vw, 30px) 30px;
    width: 100%;
    align-self: center;
    border: 1px solid var(--cl-b);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--cl-b);
    white-space: nowrap;
    transition: all .3s;

    @include mobile{
      width: 100%;    
    }

    @media (max-width: (365px)) {
      height: 48px;
      font-size: 17px;
    }

    &:hover{
      background: var(--bg-b);
      color: var(--cl-a);
    }
  }

  .black-btn{
    font-size: clamp(20px, 2.3256vw, 40px);
    height: clamp(60px, 5.814vw, 100px);
    padding: clamp(20px, 1.7442vw, 30px) clamp(30px, 5vw, 86px);
    align-self: center;

    @include mobile{
      width: calc(100% - (var(--container-offset) * 2));
      margin: 0 var(--container-offset) !important;
    }
  }
}
