.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  &__text {
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    color: var(--cl-c);
    font-variant-numeric: lining-nums proportional-nums;
  }

  &__box {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.subscribe {
      max-width: 434px;
    }

    &.questions {
      max-width: 100%;

      & > p:first-of-type {
        display: flex;
        flex-direction: column;

        label {
          width: 100%;
        }

        .wpcf7-form-control-wrap {
          width: 100%;
        }
      }
    }
  }

  &__label {
    position: relative;
  }

  &__input {
    padding: 10px 20px;
    border: 1px solid #DCDEDA;
    background-color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;

    &::placeholder {
      font-family: var(--font-family);
      font-size: 16px;
      line-height: 150%;
      font-weight: 300;
      color: #6D6D6D;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 120px;
    padding: 10px 20px;
    border: 1px solid #DCDEDA;
    background-color: #fff;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
    resize: auto;

    &::placeholder {
      font-family: var(--font-family);
      font-size: 16px;
      line-height: 150%;
      font-weight: 300;
      color: var(--cl-r);
    }
  }

  &__submit {
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9CB29C;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    color: #EBF0EB;
    text-align: center;
    transition: all 0.4s;

    &:hover {
      background-color: var(--cl-c);
      color: var(--cl-a);
    }
  }

  &__select {
    width: 100%;

    .select__header {
      padding: 10px 20px;
      border: 1px solid #DCDEDA;
      background-color: #fff;

      display: flex;
      align-items: center;
      gap: 6px;

      svg {
          stroke: var(--cl-d);
      }
    }

    .select__current {
      width: 100%;
      font-family: var(--font-family);
      font-size: 16px;
      line-height: 150%;
      font-weight: 300;

      .placeholder {
        font-family: var(--font-family);
        font-size: 16px;
        line-height: 150%;
        font-weight: 300;
        color: #6D6D6D;
      }
    }

    .select__list {
        border: 1px solid #DCDEDA;
        background-color: var(--cl-h);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        li {
          width: 100%;
          padding: 10px 20px;
          cursor: pointer;
          font-family: var(--font-family);
          font-size: 16px;
          line-height: 150%;
          font-weight: 300;
          background-color: transparent;

          &:hover {
            background-color: var(--cl-c);
            color: var(--cl-a);
          }
        }
    }
  }
}

html[data-theme="dark"] {
  .form {
    background-color: var(--cl-t);
    border: 1px solid var(--cl-s);

    &__select {
      .select__header {
        background-color: #1B1B1B;
        border: 1px solid #6D6D6D;
      }

      .select__current {
        color: #fff;
      }

      .select__list {
        color: #fff;

        li:hover {
          background-color: var(--cl-d);
          color: var(--cl-g);
        }
      }

      .placeholder {
        color: #F1F0EB;
      }
    }

    &__title {
      color: var(--cl-b);
    }

    &__text {
      color: var(--cl-b);
    }

    &__input {
      background-color: #1B1B1B;
      border: 1px solid #6D6D6D;
      color: #fff;

      &::placeholder {
        color: #F1F0EB;
      }
    }

    &__textarea {
      background-color: #1B1B1B;
      border: 1px solid #6D6D6D;
      color: #fff;

      &::placeholder {
        color: #F1F0EB;
      }
    }

    &__submit {
      background-color: #313A31;
      color: #F1F0EB;
    }
  }
}