.article-section {
    padding-top: 32px;
    margin-bottom: clamp(80px, 10.417vw, 150px);

    &__wrapp {
        position: relative;
        display: grid;
        gap: clamp(24px, 2.778vw, 40px);

        @include for-tablet {
            grid-template-columns: 1fr 440px;
            align-items: flex-start;
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include tablet {
            display: contents;
        }
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: 24px;
        order: -1;
    }

    &__thumbnails {
        display: flex;

        picture,
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__toc {
        @include tablet {
            margin-top: 16px;
        }

        &-trigger {
            display: flex;
            flex-direction: column;
            gap: 16px;

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 18px;
                line-height: 160%;
                font-weight: 500;
                color: var(--cl-c);

                svg {
                    flex-shrink: 0;
                    stroke: var(--cl-c);
                    transition: 0.3s ease;
                }
            }

            i {
                display: flex;

                svg {
                    width: 109%;
                }
            }

            &.active {
                span svg {
                    transform: scale(-1);
                }
            }
        }

        &-content {
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 16px;

            ol {
                display: flex;
                flex-direction: column;
                gap: 24px;

                li {
                    list-style-type: auto;
                    list-style-position: inside;                

                    a {
                        font-size: 14px;
                        line-height: 160%;
                        font-weight: 300;
                        color: var(--cl-c);
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: none;
                        text-decoration-thickness: auto;
                    }
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 12px;

                li {
                    margin-left: 5px;
                    list-style-type: disc;
                    list-style-position: inside;

                    a {
                        font-size: 14px;
                        line-height: 160%;
                        font-weight: 300;
                        color: var(--cl-c);
                        text-decoration-line: underline;
                        text-decoration-style: solid;
                        text-decoration-skip-ink: none;
                        text-decoration-thickness: auto;
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tablet {
            margin-top: 16px;
        }

        b,
        strong {
            font-size: 18px;
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-c);
        }

        h3 {
            font-size: clamp(18px, 3.125vw, 24px);
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-c);
        }

        p {
            font-size: 16px;
            line-height: 160%;
            font-weight: 300;
            color: var(--cl-c);
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        p + p {
            margin-top: -8px;
        }
        
        blockquote {
            position: relative;
            padding-left: 44px;
            margin: 0;
            font-size: 16px;
            line-height: 160%;
            font-weight: 300;
            color: var(--cl-c);

            svg {
                height: 85%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            ul {
                margin-top: 10px;
                gap: 5px;
            }
        }

        ul {
            position: relative;
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                position: relative;
                padding-left: 34px;
                font-size: 16px;
                line-height: 160%;
                font-weight: 300;
                color: var(--cl-c);

                &::before {
                    content: '';
                    position: absolute;
                    top: 4px;
                    left: 0;
                    background: var(--dark-icon);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 14px;
                    height: 14px;
                }
            }

            ul, ol {
                margin-top: 20px;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tablet {
            margin-top: 16px;
        }

        &-author {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }

            & > div {
                display: flex;
                align-items: center;
                gap: 20px;
                font-size: 16px;
                line-height: 160%;
                font-weight: 500;
                color: var(--cl-r);

                span {
                    font-size: 18px;
                    line-height: 160%;
                    font-weight: 500;
                    color: var(--cl-c);
                }
            }

            a {
                background-color: var(--cl-h);
                padding: 12px 24px;
                font-size: clamp(16px, 2.344vw, 18px);
                line-height: 160%;
                font-weight: 500;
                color: var(--cl-c);
            }
        }

        &-more {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 16px;
                line-height: 160%;
                font-weight: 500;
                color: var(--cl-r);
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;

                a {
                    font-size: clamp(16px, 2.344vw, 18px);
                    line-height: 160%;
                    font-weight: 500;
                    color: var(--cl-c);
                    text-decoration-line: underline;
                    text-decoration-style: solid;
                    text-decoration-skip-ink: none;
                    text-decoration-thickness: auto;
                }
            }
        }
    }

    &__aside {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include for-tablet {
            position: sticky;
            top: var(--header-top);
        }

        @include tablet {
            display: contents;
        }

        &-box {
            padding: 16px 14px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            background-color: var(--cl-k);
            border-radius: 16px;

            @include tablet {
                order: -1;
            }
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 12px;

            .tag {
                gap: 0;
                padding: 0;
                background-color: transparent !important;
                font-size: 12px;
                line-height: normal;
                font-weight: 400;
                text-transform: lowercase;
            }
        }

        &-details {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                display: flex;
                align-items: center;
                gap: 4px;

                font-size: 12px;
                line-height: normal;
                font-weight: 300;
                color: var(--cl-c);

                svg {
                    stroke: var(--cl-f);
                }
            }
        }

        &-divider {
            display: flex;

            svg {
                stroke: #CFCFCF;
                width: 100%;
                height: 100%;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            span {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                line-height: 160%;
                font-weight: 500;
                color: var(--cl-c);
            }

            & > svg {
                stroke: var(--cl-c);
            }
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            gap: 12px;

            @include tablet {
                margin-top: 16px;
            }
        }

        &-share {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-heading {
            font-size: 16px;
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-c);
        }

        &-btns {
            display: flex;
            align-items: center;
            gap: 12px;

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 8px;

        &-avatar {
            display: flex;
            width: 80px;
            height: 80px;
            border-radius: 50%;
    
            picture,
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &-name {
            font-size: 16px;
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-j);
        }

        &-role {
            font-size: 12px;
            line-height: normal;
            font-weight: 300;
            color: var(--cl-j);
        }
    }

    &__player {
        & > button {
            padding: 13px 0;
            width: 100%;
            border: 1px solid var(--cl-c);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 16px;
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-c);

            svg {
                stroke: currentColor;
            }
        }
    }

    &__video {
        position: relative;
        width: 100%;
        overflow: hidden;

        @include for-tablet {
            height: clamp(280px, 30.556vw, 440px);
        }

        @include tablet {
            height: clamp(180px, 52.734vw, 540px);
        }

        &-poster {
            position: absolute;
            inset: 0;
            z-index: 2;
            display: flex;
            transition: all 0.3s ease;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.active {
                opacity: 0;
                visibility: hidden;
            }
        }

        &-player {
            opacity: 0;
            visibility: hidden;
            display: flex;
            height: 100%;
            width: 100%;
            transition: all 0.3s ease;

            iframe {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        &-controls{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            display: flex;
            transition: all 0.3s ease;
            cursor: pointer;

            &.active {
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

html[data-theme="dark"] {
    .article-section {
        &__aside-box {
            background-color: var(--cl-r);
        }

        &__aside-tags {
            .tag {
                color: var(--cl-b) !important;

                svg {
                    stroke: var(--cl-b) !important;
                }
            }
        }

        &__author-name {
            color: var(--cl-b);
        }

        &__author-role {
            color: var(--cl-b);
        }

        &__aside-heading {
            color: var(--cl-b);
        }

        &__aside-details {
            span {
                color: var(--cl-b);
            }

            svg {
                stroke: var(--cl-q);
            }
        }

        &__toc {
            &-trigger {
                span {
                    color: var(--cl-b);

                    svg {
                        stroke: var(--cl-b);
                    }
                }
            }

            &-content {
                ul,
                ol {
                    li {
                        color: var(--cl-b);

                    }
                    a {
                        color: var(--cl-b);
                    }
                }
            }
        }

        &__content {
            h2,
            h3,
            p,
            blockquote,
            ul,
            ol,
            a,
            strong,
            b {
                color: var(--cl-b);
            }

            ul li {
                color: var(--cl-b);

                &::before {
                    background: var(--white-icon);
                }
            }
        }

        &__details {
            &-author {
                & > div {
                    color: var(--cl-k);
                }

                span {
                    color: var(--cl-b);
                }

                a {
                    background-color: var(--cl-d);
                    color: var(--cl-g);
                }
            }

            &-more {
                span {
                    color: var(--cl-k);
                }

                ul a {
                    color: var(--cl-b);
                }
            }
        }

        &__aside-link  {
            & > span {
                color: var(--cl-b);  
            }

            & > svg {
                stroke: var(--cl-b);
            }
        }

        &__player > button{
            border: 1px solid var(--cl-d);
            color: var(--cl-d);
        }
    }
}