.articles-section{
  margin-bottom: clamp(50px, 8.7209vw, 150px);
  overflow: hidden;

  &__box{
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 2.907vw, 50px);

    @include mobile{
      gap: 50px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: clamp(15px, 1.1628vw, 20px);

    @include mobile {
      grid-template-columns: 100%;
      grid-gap: 50px;
    }

    .main-link{
      @include for-mobile{
        height: fit-content;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: center;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
