.author-section {
    padding-top: 32px;
    margin-bottom: clamp(80px, 10.417vw, 150px);

    &__wrapp {
        position: relative;
        display: grid;
        gap: clamp(24px, 2.778vw, 40px);

        @include for-tablet {
            grid-template-columns: clamp(300px, 26.528vw, 382px) 1fr;
            align-items: flex-start;
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__aside {
        padding: 16px;
        background-color: var(--cl-k);
        border-radius: 16px;

        @include for-tablet {
            position: sticky;
            top: 62px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(32px, 2.778vw, 40px);
    }

    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @include small-tablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__counter {
        font-size: 24px;
        line-height: 140%;
        font-weight: 700;
        color: var(--cl-c);
    }

    &__items {
        width: 100%;
        display: grid;
        gap: 40px 16px;

        @include for-small-tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__podcasts {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
}

html[data-theme="dark"] {
    .author-section {
        &__aside {
            background-color: var(--cl-r);
        }

        &__counter {
            color: var(--cl-b);
        }
    }
}