.bestsellers-section {
  margin-bottom: calc(clamp(100px, 9.8837vw, 170px) - 27px);
  overflow: hidden;
  margin-top: -20px;

  &__box {
    padding: 20px 0 27px;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 2.907vw, 50px);
    position: relative;
    z-index: 1;

    .title {
      line-height: 100%;
    }

    &::before {
      opacity: 0;
      transition: all 0.3s;
      position: absolute;
      content: "";
      z-index: -1;
      top: 0;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      background: #8fbee6;
      pointer-events: none;
    }

    &.olive {
      &::before {
        background: #b0beb8;
      }
    }

    &.brown {
      &::before {
        background: #cbbda9;
      }
    }

    &.active {
      &::before {
        opacity: 1;
      }

      .swiper-button {
        background: #8fbee6;
      }

      &.olive {
        .swiper-button {
          background: #b0beb8;
        }
      }

      &.brown {
        .swiper-button {
          background: #cbbda9;
        }
      }
    }
  }
}

.single-product .bestsellers-section__box {
  &:not(.active) {
    .swiper-button {
      background: #fae1a0;
    }
  }
}
