.discovery-section {
    margin-bottom: clamp(80px, 10.417vw, 150px);

    &__wrapp {
        display: flex;
        flex-direction: column;

        @include small-tablet {
            align-items: center;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
        padding: clamp(16px, 6.458vw, 93px) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(24px, 3.906vw, 40px);

        &-bg {
            display: flex;
            position: absolute;
            inset: 0;
            z-index: -1;
    
            svg {
                stroke: var(--cl-i);
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-box {
            width: 100%;
        }

        &-controls {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 40px;

            @include for-small-tablet {
                justify-content: center;

                .swiper-button {
                    position: absolute;
                    top: 50%;
                    transform: translateX(-50%);
                    z-index: 5;
        
                    &.prev {
                        left: 0;
                    }
        
                    &.next {
                        right: 0;
                    }
                }
            }

            @include small-tablet {
                justify-content: space-between;
            }
        }
    }
}

body[data-theme="dark"] {
    .discovery-section__slider-bg {
        svg {
            stroke: var(--cl-s);
        }
    }
}

