.error-section{
    padding: clamp(16px, 3.906vw, 40px) 0;
    flex-grow: 1;
    display: flex;
    align-items: center;

    &__wrapp {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 clamp(16px, 6.25vw, 120px);

        @include small-tablet {
            flex-direction: column;
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;

        svg{
            width: clamp(328px, 34.375vw, 495px);
            height: clamp(224px, 23.819vw, 343px);
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 12px;
    }

    &__title {
        font-size: clamp(80px, 6.25vw, 90px);
        line-height: 140%;
        font-weight: 500;
        color: #232323;
    }

    &__subtitle {
        font-size: clamp(24px, 2.222vw, 32px);
        line-height: 140%;
        font-weight: 500;
        color: #232323;
    }

    &__text{
        font-size: 14px;
        line-height: 140%;
        font-weight: 500;
        color: #232323;
    }

    &__link {
        margin-top: 12px;
        height: 43px;
        max-width: 343px;
        width: 100%;
        background-color: #083F08;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: normal;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
}