.hero-section {
  padding-top: 32px;
  margin-bottom: 150px;

  &__posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 7px 40px;
    align-items: stretch;
    
    li:first-child {
      grid-row: span 3;
      
      .article-card__thumbnails {
        width: 100%;
        height: auto;
      }
    }
  }
}
