.identity-section {
    position: relative;
    margin-bottom: 150px;

    &__wrapp {
        position: relative;
        padding: 81px;
    }

    &__bg {
        position: absolute;
        display: flex;
        inset: 0;

        picture,
        img {
            width: 100%;
            height: 100%;
            object-fit: initial;
        }
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 64px;
    }

    &__image {
        flex-shrink: 0;
        width: 365px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__title {
        color: #083F08;
    }

    &__text {
        font-size: 24px;
        line-height: 140%;
        font-weight: 700;
        color: #083F08;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        line-height: 150%;
        font-weight: 500;
        color: #083F08;
    }
}