.info-section {
    padding-top: 32px;
    margin-bottom: clamp(80px, 10.417vw, 150px);

    &__wrapp {
        position: relative;
        display: grid;
        gap: clamp(24px, 2.778vw, 40px);

        @include for-tablet {
            grid-template-columns: clamp(300px, 26.528vw, 382px) 1fr;
            align-items: flex-start;
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__aside {
        padding: clamp(16px, 2.344vw, 24px) 16px;
        background-color: var(--cl-k);
        border-radius: 16px;

        @include for-tablet {
            position: sticky;
            top: var(--header-top);
        }
    }

    &__pages {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            font-size: 16px;
            line-height: normal;
            font-weight: 500;
            color: var(--cl-c);

            svg {
                stroke: var(--cl-c);
            }
        }
    }

    &__box {
        & > h3:first-of-type {
            margin-top: 0;
        }

        h3 {
            margin: 40px 0 24px;
            font-size: clamp(18px, 2.344vw, 24px);
            line-height: 140%;
            font-weight: 700;
            color: var(--cl-c);
        }

        p {
            font-size: 16px;
            line-height: 160%;
            font-weight: 300;
            color: var(--cl-c);
        }

        ul {
            li {
                list-style-type: disc;
                list-style-position: inside;
                font-size: 16px;
                line-height: 160%;
                font-weight: 300;
                color: var(--cl-c);
            }
        }
    }
}

body[data-theme="dark"] {
    .info-section {
        &__aside {
            background-color: var(--cl-h);
        }

        &__pages {
            a {
                color: var(--cl-b);

                svg {
                    stroke: var(--cl-b);
                }
            }
        }

        &__box {
            h3 {
                color: var(--cl-b);
            }

            p {
                color: var(--cl-b);
            }

            ul li {
                color: var(--cl-b);
            }
        }
    }
}