.listing-section {
    padding-top: 32px;
    margin-bottom: clamp(80px, 10.417vw, 150px);

    &__wrapp {
        position: relative;
        display: grid;
        gap: clamp(24px, 2.778vw, 40px);

        @include for-tablet {
            grid-template-columns: 29% 71%;
            align-items: flex-start;
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__aside {
        padding: 16px 16px 40px;
        background-color: var(--cl-k);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include for-tablet {
            position: sticky;
            top: var(--header-top);
            z-index: 5;
        }

        @include mobile {
            display: none;
        }
    }

    &__categories {
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include for-tablet {
            li:hover {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        a {
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            cursor: pointer;

            svg {
                stroke: var(--cl-c);
                flex-shrink: 0;
            }

            span {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                line-height: normal;
                font-weight: 500;
                color: var(--cl-c);
                cursor: pointer;
            }
        }

        @include for-tablet {
            .sub-menu {
                padding: 16px;
                width: max-content;
                height: max-content;
                min-height: 100%;
          
                opacity: 0;
                visibility: hidden;
          
                position: absolute;
                left: calc(100% + 10px);
                top: 0;
          
                display: flex;
                flex-direction: column;
                gap: 8px;
                background-color: var(--cl-k);
                border-radius: 16px;
                transition: 0.3s ease;
                z-index: 5;
    
                &::before {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 90%;
                    right: 0;
                    content: "";
                    background: transparent;
                    display: flex;
                    top: 0;
                    transform: translateX(-100%);
                    z-index: -1;
                }
            }
        }
        
        @include tablet {
            .sub-menu {
                display: none;
            }
        }
    }

    &__subсategories {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            svg {
                stroke: var(--cl-c);
                flex-shrink: 0;
            }

            span {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 16px;
                line-height: normal;
                font-weight: 500;
                color: var(--cl-c);
            }
        }
    }

    &__category-active {
        padding: 12px;
        background-color: var(--cl-a);
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            stroke: var(--cl-c);
            flex-shrink: 0;
        }

        span {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            line-height: normal;
            font-weight: 500;
            color:  var(--cl-c);
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(32px, 2.778vw, 40px);
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__top {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px 16px;

        @include small-tablet {
            flex-direction: column;
        }
    }

    &__summary {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-list {
            display: flex;
            align-items: center;
            gap: 10px 21px;

            @include desktop {
                flex-direction: column;
                align-items: flex-start;
            }

            li {
                position: relative;
                font-size: 24px;
                line-height: 140%;
                font-weight: 700;
                color: var(--cl-c);

                &::before {
                    content: '';
                    position: absolute;
                    left: -13px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 5px;
                    background-color: var(--cl-q);
                    border-radius: 50%;
                }

                &:first-child::before {
                    display: none;
                }

                @include mobile {
                    &::before {
                        display: none;
                    }

                    &:not(:last-child) {
                        display: none;
                    }
                }
            }
        }

        &-posts {
            font-size: 16px;
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-r);
        }
    }

    &__tags {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
        }

        &-heading {
            font-size: 16px;
            line-height: 150%;
            font-weight: 500;
            color: var(--cl-j);
        }

        &-controls {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &-items {
            width: 100%;
        }

        .swiper-slide {
            width: fit-content;
        }

        .tag {
            padding: 10px 16px;
            font-size: 14px;
            line-height: 150%;
        }
    }

    &__items {
        width: 100%;
        display: grid;
        gap: 40px 16px;

        @include for-small-tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include small-tablet {
            grid-template-columns: 100%;
        }
    }

    &__mobile {
        display: none;

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 12px;

            & > span {
                font-size: 14px;
                line-height: 140%;
                font-weight: 500;
                color: var(--cl-s);
            }

            &-cat {
                padding: 12px 16px;
                border-radius: 8px;
                background-color: var(--cl-k);

                & > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;


                    span {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: var(--cl-c);

                        svg {
                            stroke: currentColor;
                        }
                    }

                    & > svg {
                        stroke: #1E1E1E;
                    }
                }

                & > span {
                    padding-left: 35px;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 160%;
                    color: var(--cl-r);
                }
            }
        }
    }

    &__inner {
        margin-bottom: clamp(32px, 7.813vw, 80px);
        position: relative;
        display: grid;
        gap: clamp(24px, 2.778vw, 40px);

        @include for-tablet {
            grid-template-columns: 29% 71%;
            align-items: flex-start;
        }

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    &__info {
        h1 {
            margin-bottom: 16px;
            font-size: clamp(24px, 3.125vw, 32px);
            line-height: 150%;
            font-weight: 500;
            color: var(--cl-c);
        }

        p {
            font-size: 16px;
            line-height: 160%;
            font-weight: 300;
            color: var(--cl-c);
        }

        p + p {
            margin-top: 30px;
        }
    }

    &__populars {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-heading {
            font-size: 18px;
            line-height: 160%;
            font-weight: 500;
            color: var(--cl-c);
        }

        &-controls {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: clamp(32px, 2.778vw, 40px);
        }
    }

    &__podcasts {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
}

#popular-podcasts {
    .podcast-card__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .podcast-card__info {
        gap: 12px;
    }

    .podcast-card__top {
        flex-wrap: wrap;
    }
}

html[data-theme="dark"] {
    .listing-section {
        &__aside {
            background-color: var(--cl-h);
        }

        &__categories {
            a {
                svg {
                    stroke: var(--cl-d);
                }
                
                span {
                    color: var(--cl-b);

                    svg {
                        stroke: var(--cl-b);
                    }
                }
            }

            .sub-menu {
                background-color: var(--cl-h);
            }
        }

        &__subсategories {
            a {
                svg {
                    stroke: var(--cl-d);
                }
                
                span {
                    color: var(--cl-b);

                    svg {
                        stroke: var(--cl-b);
                    }
                }
            }
        }

        &__category-active {
            background-color: var(--cl-f);

            svg {
                stroke: var(--cl-b);
            }

            span {
                color: var(--cl-b);
            }
        }

        &__summary {
            &-list li {
                color: var(--cl-b);
            }

            &-posts {
                color: var(--cl-e);
            }
        }

        &__tags-heading {
            color: var(--cl-p);
        }

        &__mobile {    
            @include mobile {
                & > span {
                    color: var(--cl-p);
                }
    
                &-cat {
                    background-color: var(--cl-h);
    
                    & > div {    
                        span {
                            color: var(--cl-b);
                        }
    
                        & > svg {
                            stroke: var(--cl-b);
                        }
                    }
    
                    & > span {
                        color: var(--cl-b);
                    }
                }
            }
        }

        &__info {
            p {
                color: var(--cl-b);
            }
        }

        &__populars-heading {
            color: var(--cl-b);
        }
    }
}