.marque-section{
    margin-bottom: clamp(100px, 8.7209vw, 150px);
    overflow: hidden;
    padding-top: 20px;
    margin-top: -20px;
    
    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(30px, 2.907vw, 50px);
    }
}