.post-section {
  margin-bottom: clamp(50px, 8.7209vw, 150px);
  overflow: hidden;

  &__wrapp {
    display: flex;
    flex-direction: column;
  }

  &__top {
    order: -1;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__tag {
   
    font-size: clamp(20px, 2.441vw, 25px);
    line-height: 100%;
    font-weight: 400;
    white-space: nowrap;

    a{
      border-radius: 8px;
      background-color: var(--bg-a);
      padding: 10px clamp(10px, 1.465vw, 15px);
      transition: all 0.3s;

      &:hover{
        color: var(--bg-a);
        background-color: var(--bg-b);
      }
    }
  }

  &__pubtime {
    padding: 10px clamp(10px, 1.465vw, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: fit-content;
    background: var(--cl-c);
    font-family: var(--font-family);
    font-size: clamp(20px, 2.441vw, 25px);
    line-height: 108%;
    font-weight: 400;
    color: var(--bg-d);
  }

  &__info {
    margin-bottom: 50px;
    display: flex;

    @include for-mobile{
      align-items: center;
      justify-content: space-between;
    }

    @include mobile{
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__author {
    font-size: 20px;
    font-size: clamp(14px, 1.953vw, 20px);
    line-height: 100%;
    color: var(--cl-m);
  }

  &__title {
    margin-bottom: 30px;
    margin-bottom: clamp(10px, 5.208vw, 30px);
    font-family: var(--second-family);
    font-size: clamp(35px, 5.208vw, 100px);
    line-height: 100%;
    font-weight: 700;
    color: var(--cl-m);
    text-transform: uppercase;

    @include mobile {
      order: -1;
      font-family: var(--font-family);
      font-weight: 400;
    }
  }

  &__image {
    display: flex;
    margin-bottom: clamp(30px, 6.51vw, 50px);

    @include mobile {
      height: 200px;
    }

    picture,
    img {
      border-radius: 25px;
    }
  }

  &__box {
    margin-bottom: clamp(20px, 4.883vw, 50px);
    display: grid;
    gap: clamp(30px, 3.418vw, 35px);

    @include for-tablet {
      grid-template-columns: clamp(220px, 20.833vw, 400px) 1fr;
    }

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    span {
      font-size: clamp(20px, 3.418vw, 35px);
      line-height: 100%;
      font-weight: 400;
      color: var(--cl-m);
      text-transform: uppercase;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 0.977vw, 10px);

      li {
        position: relative;
        padding-left: 20px;
        font-size: clamp(18px, 2.344vw, 24px);
        line-height: 112%;
        font-weight: 500;
        color: var(--cl-m);

        &::before {
          content: '';
          position: absolute;
          left: 5px;
          top: clamp(5px, 0.977vw, 10px);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: var(--bg-c);
        }

        a{
          transition: all .3s;
          text-decoration: underline;
          text-decoration-color: transparent;

          &:hover{
            text-decoration-color: inherit;
          }
        }
      }
    }
  }

  &__text {
    @include for-tablet {
      max-width: 850px;
    }

    @include tablet {
      max-width: 100%;
    }

    p {
      font-size: clamp(22px, 2.344vw, 24px);
      line-height: 112%;
      font-weight: 400;
      color: var(--cl-m);
    }

    p + p {
      margin-top: 20px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
  }
}
