.thanks-section {
  margin-bottom: clamp(100px, 8.7209vw, 150px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 4.883vw, 50px);
  }

  &__title {
    font-size: clamp(24px, 3.125vw, 60px);
    line-height: 100%;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__info {
    max-width: 1176px;
    font-size: clamp(20px, 2.344vw, 24px);
    line-height: 112%;
    font-weight: 400;

    span {
      font-size: clamp(22px, 2.539vw, 26px);
      font-weight: 500;
    }
  }

  &__details {
    margin-top: clamp(10px, 2.604vw, 50px);
    max-width: 1510px;
    display: grid;
    gap: 20px;

    @media (min-width: 820px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 819px) {
      grid-template-columns: 1fr;
    }
  }

  &__detail {
    border: 1px solid var(--br-h);
    display: flex;
    align-items: center;
    gap: clamp(10px, 2.604vw, 50px);

    @include for-tablet{
      padding: 20px clamp(15px, 1.563vw, 30px);
    }

    @include tablet {
      padding: 25px 14px;
    }

    svg {
      width: clamp(41px, 6.641vw, 68px);
      height: clamp(41px, 6.641vw, 68px);
    }

    p {
      font-size: clamp(20px, 1.25vw, 24px);
      line-height: 100%;

      span {
        display: block;
        font-weight: 500;
      }
    }
  }

  &__download {
    @include for-small-tablet{
      max-width: 490px;
      width: 100%;
    }

    @include small-tablet {
      margin-top: 30px;
      width: fit-content;
      height: auto;
      padding: 10px 15px;
      font-size: 20px;
    }
  }
}
