.videos-section {
    margin-bottom: 150px;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(20px, 3.125vw, 32px);
    }

    &__items {
        width: 100%;
        display: grid;
        gap: 20px clamp(10px, 1.389vw, 20px);

        @include for-mobile {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}