.accordion{
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

    @include for-mobile {
      padding: 20px clamp(10px, 1.953vw, 20px);
    }

    @include mobile {
      padding: 20px 0;
    }

    &:not(:last-child){
      border-bottom: 1px solid var(--br-b);
    }

    &.active{
      .accordion__btn-icon{
        transform: rotate(45deg)
      }
    }

    &:hover {
      @include for-mobile{
      background-color: var(--bg-d);

      .accordion__btn p {
        font-weight: 500;
      }
    }
    }
  }

  &__text {
    padding-top: clamp(16px, 1.3889vw, 20px);
    font-size: clamp(22px, 1.3953vw, 24px);

    @include for-tablet {
      padding-right: 100px;
    }


    @include mobile{
      line-height: 123%;
    }
  }

  &__btn{
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: clamp(10px, 1.953vw, 20px);
    justify-content: space-between;
    transition: all .3s;

    p {
      font-family: var(--font-family);
      font-size: clamp(24px, 2.0349vw, 35px);
      line-height: 106%;
      font-weight: 400;
      color: var(--cl-m);
      text-align: start;
      text-transform: uppercase;
    
      @include for-tablet {
        max-width: 850px;
      }

      @include mobile{
        line-height: 108%;
      }
    }

    &-icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: clamp(20px, 4.395vw, 45px);
      height: clamp(20px, 4.395vw, 45px);
      position: relative;
      z-index: 3;
      align-self: flex-start;
      margin-top: clamp(1px, .2778vw, 4px);
      flex-shrink: 0;
      transition: all .4s;

      &::before{
        transition: all .3s;
        content: '';
        width: 100%;
        height: clamp(2px, 0.488vw, 5px);
        background: var(--cl-m);
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }

      &::after{
        content: '';
        height: 100%;
        width: clamp(2px, 0.488vw, 5px);
        background: var(--cl-m);
        border-radius: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        transition: all .3s;
      }
    }
  }

  &[data-always-open]{
    .accordion{

      &__btn{
        pointer-events: none;
      }

      &__btn-icon{
        display: none;
      }
    }
  }
}
