.cabinet-tabs{
    display: flex;
    flex-direction: column;
    gap: clamp(50px, 5.814vw, 100px);

    &__nav{
        display: flex;
        gap: 10px clamp(10px, 1.1628vw, 20px);

        @include for-mobile{
            align-items: center;
        }

        @include mobile{
            flex-direction: column;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        gap: 30px;


        &.order{
            .cabinet-tabs__top{
                .white-btn{
                    padding: 9px clamp(15px, 1.7442vw, 30px);
                    font-size: clamp(20px, 1.3953vw, 24px);
                    height: clamp(40px, 3.7209vw, 64px);
                }
            }


            @include mobile{
                gap: 18px;

                .cabinet-tabs__top{
                    .title{
                        order: -2;
                    }

                    .white-btn{
                        margin-top: 32px;
                    }
                }

                .cabinet-order{
                    order: -1;
                }
            }
        }

        .cabinet-table{
            margin-top: -20px;
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: var(--cl-m);
        text-align: start;
        white-space: nowrap;

        @include small-tablet{
            @include for-mobile{
                font-size: clamp(18px, 3.125vw, 24px);
            }
        }

        svg,img{
            pointer-events: none;
            width: 32px;
            height: 32px;
            transition: all .3s;

            @include small-tablet{
                @include for-mobile{
                    width: clamp(20px, 4.167vw, 32px);
                    height: clamp(20px, 4.167vw, 32px);
                }
            }
        }

        &:hover{
            svg,img{
                transform: scale(1.1);
            }
        }
    }

    &__top{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 20px;

        @include for-laptop{
            margin-top: -37px;
        }

        @include mobile{
            display: contents;
        }

      
    }
}