.card-list {
  display: flex;
  flex-direction: column;

  &__discount {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: clamp(20px, 1.3953vw, 24px);
    line-height: 112%;
    color: var(--cl-m);
    gap: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    svg,
    img {
      width: clamp(25px, 2.0349vw, 35px);
      height: clamp(25px, 2.0349vw, 35px);
    }

    @include for-mobile {
      padding-left: 16px;
    }
  }

  &__item {
    padding: clamp(10px, 1.1628vw, 20px) 0;

    &:first-of-type {
      padding: 0 0 clamp(12px, 0.9884vw, 17px);
    }

    @include for-mobile {
      border-bottom: solid 1px var(--br-b);
    }

    @include mobile {
      position: relative;
      z-index: 1;

      &::before {
        position: absolute;
        content: "";
        width: 100vw;
        left: 50%;
        pointer-events: none;
        display: block;
        bottom: 0;
        transform: translateX(-50%);
        border-bottom: solid 1px var(--br-b);
      }
    }

    &.info {
      background: var(--bg-l);
      padding: 10px 0;
      border: none;

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(14px, 1.1628vw, 20px);
        line-height: 135%;
        color: var(--cl-m);
        text-align: center;

        b {
          @include for-mobile {
            font-weight: 500;
            font-size: clamp(14px, 1.2791vw, 22px);
          }

          @include mobile{
            font-weight: 400;
          }
        }
      }
    }

    &.promo {
      .card {
        &::before {
          display: none;
        }

      }
    }

    &.add {
      background: rgba(255, 255, 255, 0.5);

      &:not(:nth-child(3)) {
        padding-bottom: 18px;
      }

      &:first-of-type {
        padding-top: 10px !important;
        border-top: solid 1px var(--br-b);
      }

     

      .card {
        &::before {
          display: none;
        }

      }
    }
  }
}
