// .hero-slider {
//   width: 100%;
//   display: flex;
//   height: clamp(300px, 50.6977vw, 872px);
//   position: relative;

//   @include tablet {
//     height: fit-content;
//   }

//   .swiper-container {
//     width: 100%;
//   }

//   .swiper-slide {
//     position: relative;
//     z-index: 1;

//     @include for-tablet {
//       transition: opacity 1s ease-in-out;
//       height: clamp(300px, 50.6977vw, 872px);
//     }

//     @include tablet {
//       display: flex;
//       flex-direction: column;
//       gap: 30px;
//       height: auto;
//     }
//   }

//   &__image {
//     display: flex;
//     width: 100%;
//     height: clamp(300px, 50.6977vw, 872px);
//     position: relative;
//     opacity: 73%;
//     border-radius: 25px;
//     overflow: hidden;

//     svg {
//       display: flex;
//       height: auto;

//       @include small-tablet {
//         display: none;
//       }
//     }

//     img,
//     picture {
//       width: 100%;
//       height: 100%;
//     }

//     @include for-tablet {
//       margin: 10px 0 0;
//       height: calc(clamp(300px, 50.6977vw, 872px) - 10px);
//     }

//     @include tablet {
//       height: clamp(300px, 49.805vw, 510px);
//       width: 100%;
//     }
//   }

//   .swiper-pagination {
//     position: absolute;
//     right: -20px;
//     top: Min(17.3256vw, 290px);
//     z-index: 5;
//     gap: clamp(5px, 1.302vw, 25px);
//     padding: 10px;
//     background: var(--bg-e);
//     border-radius: 20px 0 0 20px;

//     &::before,
//     &::after {
//       position: absolute;
//       width: clamp(25px, 2.907vw, 50px);
//       height: clamp(25px, 2.907vw, 50px);
//       background: var(--bg-e);
//       content: "";
//       z-index: -1;
//       pointer-events: none;
//     }

//     &::before {
//       bottom: calc(clamp(1px, 1.3953vw, 24px) * -1);
//       right: calc(clamp(6px, 1.3372vw, 23px) * -1);
//       transform: rotate(90deg);
//       clip-path: polygon(
//         100% 0,
//         0 0,
//         0 100%,
//         50% 100%,
//         51% 89%,
//         58% 76%,
//         68% 63%,
//         81% 56%,
//         91% 51%,
//         100% 50%
//       );

//       @include tablet{
//         width: 25px;
//         bottom: -11px;
//         right: -2px;
//         height: 25px;
//       }
//     }

//     &:after {
//       top: -24px;
//       right: -25px;
//       transform: rotate(180deg);
//       clip-path: polygon(
//         100% 0,
//         0 0,
//         0 100%,
//         50% 100%,
//         51% 89%,
//         58% 76%,
//         68% 63%,
//         81% 56%,
//         91% 51%,
//         100% 50%
//       );

//       @include tablet{
//         width: 25px;
//         top: -11px;
//         right: -2px;
//         height: 25px;
//       }
//     }

//     &-bullet {
//       cursor: pointer;
//       display: flex;
//       opacity: 0.5;
//       background-color: var(--bg-a);

//       &-active {
//         opacity: 1;
//       }

//       @include for-tablet {
//         width: clamp(10px, 1.302vw, 25px);
//         height: clamp(10px, 1.302vw, 25px);
//       }

//       @include tablet {
//         width: 15px;
//         height: 15px;
//       }
//     }

//     &-active {
//       background-color: var(--bg-a);
//     }

//     @media (min-width: (1851px)) {
//       top: clamp(280px, 16.5698vw, 285px);
//     }

//     @include for-tablet {
//       transform: translate(-40%, -50%);
//     }

//     @include tablet {
//       padding: 10px;
//       gap: 5px;
//       top: 50%;
//       border-radius: 18px 0 0 18px;
//       transform: translate(-30%, -50%);
//       top: calc(clamp(300px, 49.805vw, 510px) / 2);
//     }

//   }

//   p {
//     display: flex;
//     font-family: var(--font-family);
//     font-weight: 400;
//     z-index: 50;
//     color: var(--cl-c);
//     line-height: 100%;

//     @include for-tablet {
//       font-size: Min(3.125vw, 60px);
//       text-align: right;
//     }

//     @include tablet {
//       font-size: clamp(25px, 3.4884vw, 60px);
//     }

//     @media (min-width: (1791px)) {
//       bottom: -7px;
//     }

//     @media (max-width: (1790px)) {
//       @include for-small-tablet {
//         bottom: 1.5%;
//       }
//     }

//     @include for-tablet {
//       max-width: Min(57.8488vw, 995px);
//       position: absolute;
//       right: 0;
//     }

//     @include tablet {
//       br {
//         display: none;
//       }
//     }
//   }

//   .text {
//     @include for-tablet {
//       position: absolute;
//       right: 0;
//       bottom: 5px;
//       text-align: right;
//       width: clamp(600px, 57.8488vw, 995px);
//       z-index: 10;
//     }
//   }

//   .goo {
//     font-family: var(--font-family);
//     font-weight: 400;
//     color: var(--cl-c);
//     line-height: 100%;

//     @include for-tablet {
//       display: inline;
//       box-decoration-break: clone;
//       background: var(--bg-e);
//       padding: 15px;
//       filter: url("#goo");
//       font-size: clamp(40px, 3.125vw, 60px);
//       position: relative;
//       z-index: 1;

//       span {
//         position: relative;
//         z-index: 1;
//         line-height: 100%;
//         text-transform: uppercase;
//       }
//     }

//     @include tablet {
//       margin-top: 6px;
//       font-size: clamp(25px, 3.4884vw, 60px);

//       br {
//         display: none;
//       }
//     }
//   }
// }
