.lang {
    .select__header {
        background: transparent;
        padding: 4px 8px;
        background-color: #F8EDEB;
        border-radius: 25px;

        display: flex;
        align-items: center;
        gap: 6px;
    }

    .select__current {
        font-size: 12px;
        line-height: normal;
        font-weight: 500;
        color: #083F08;
    }

    .select__list {
        background-color: #F8EDEB;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            width: 100%;
            padding: 12px 0;
            cursor: pointer;
            border-top: 1px solid #EBC8C2;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: normal;
            font-weight: 500;
            letter-spacing: 0.2px;
            color: #232323;

            &:first-child {
                border-top: none;
            }
        }
    }
}