.marque-slider{
    width: 100%;
        
      .swiper{
        &-container{
            width: 100%;
            overflow: initial;
        }

        &-wrapper{
            transition-timing-function: linear !important; 
        }

        &-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            
            img,svg{
                width: auto;
                transition: all .3s;
                height: clamp(70px, 6.8605vw, 118px);

                &.mode{
                    height: clamp(70px, 7.6163vw, 131px);
                }
            }

            a{
                width: 100%;
                height: auto;

                &:hover{
                    img,svg{
                        transform: scale(1.05);
                    }
                }
            }
        }
      }
 
}