.sorting {
    flex-shrink: 0;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--cl-k);
    border-radius: 68px;

    @include mobile {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    &__btn {
        padding: 8px 6px;
        border-radius: 999px;
        font-size: 12px;
        line-height: normal;
        font-weight: 300;
        transition: all 0.2s ease;

        &.active {
            background-color: var(--cl-k);
        }

        &:hover,
        &:active {
            background-color: var(--cl-k);
        }

        @include mobile {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

html[data-theme="dark"] {
    .sorting {    
        border: 1px solid var(--cl-f);
        background-color: var(--cl-f);

        &__btn {
            color: var(--cl-b);

            &.active {
                background-color: var(--cl-o);
            }
    
            &:hover,
            &:active {
                background-color: var(--cl-o);
            }
        }
    }
}