.tag {
    width: fit-content;
    padding: clamp(12px, 1.563vw, 16px) clamp(16px, 2.344vw, 24px);
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #F8EDEB;
    border-radius: 36px;
    font-size: clamp(14px, 1.563vw, 16px);
    line-height: normal;
    font-weight: 500;
    color: #083F08;
}