.tag {
    width: fit-content;
    padding: clamp(12px, 1.563vw, 16px) clamp(16px, 2.344vw, 24px);
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--cl-i);
    border-radius: 36px;
    font-size: clamp(14px, 1.563vw, 16px);
    line-height: normal;
    font-weight: 500;
    color: var(--cl-c);

    &--more {
        cursor: pointer;
    }

    svg {
        stroke: var(--cl-c);
    }

    &.active {
        background-color: var(--cl-m);
    }
}

body[data-theme="dark"] {
    .tag {
        background-color: var(--cl-h);
        color: var(--cl-d);

        svg {
            stroke: var(--cl-d);
        }

        &.active {
            background-color: var(--cl-f);
        }
    }
}