.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 10px;

  &-bullet{
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--cl-o);
    transition: all .3s;

    &-active{
      background-color: var(--cl-p);
    }
  }
}

.swiper-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    stroke: var(--cl-c);
  }

  &-disabled {
    color: var(--cl-o);
  }
}

.more-button {
  max-width: 344px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  background-color: #083F08;
  color: #fff;
}

.btn-like {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 46px;
  background-color: #083F08;
  color: #fff;
}

.btn-share {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 46px;
  background-color: #C3E9C7;
  color: #083F08;
}

body[data-theme="dark"] {
  .swiper-button {
    svg {
      stroke: var(--cl-l);
    }
  }
}