.swiper-pagination {
  display: flex;
  align-items: center;
  gap: 10px;

  &-bullet{
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--cl-o);
    transition: all .3s;

    &-active{
      background-color: var(--cl-p);
    }
  }
}

.swiper-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    stroke: var(--cl-c);
  }

  &-disabled {
    svg {
      color: var(--cl-r);
    }
  }
}

.more-button {
  max-width: 344px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 43px;
  background-color: var(--cl-c);
  color: var(--cl-a);
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
}

.btn-like {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 46px;
  background-color: var(--cl-c);
  color: var(--cl-a);

  svg {
    stroke: var(--cl-a);
  }
}

.btn-share {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 46px;
  background-color: var(--cl-h);
  color: var(--cl-c);
}

body[data-theme="dark"] {
  .swiper-button {
    svg {
      stroke: var(--cl-l);
    }

    &-disabled {
      svg {
        stroke: var(--cl-o);
      }
    }
  }

  .more-button {
    background-color: var(--cl-n);
    color: var(--cl-b);
  }

  .btn-like {
    background-color: var(--cl-n);
    color: var(--cl-b);

    svg {
      stroke: var(--cl-b);
    }
  }

  .btn-share {
    background-color: var(--cl-d);
    color: var(--cl-g);
  }
}