html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100dvw;
  // scroll-behavior: smooth;
  will-change: font-size;
  font-size: var(--rem-function);
}

body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  // min-height: -webkit-fill-available;
  margin: 0;
  will-change: font-size;
  color: #2f2f2f;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  display: flex;
  flex-direction: column;

  -webkit-text-size-adjust: 100%;
  // for text resize

  &.fixed-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    // disable scroll
  }
}

main {
  min-width: 0 !important;
  padding-top:var(--header-height);
  position: relative;
  z-index: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &.no-padding {
    padding: 0;
  }
}

// section:last-of-type {
//   margin-bottom: clamp(100px, 8.7209vw, 150px);
// }

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-flex;
  margin: 0;

  font-family: var(--font-family);
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

button {
  display: inline-flex;
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  line-height: initial;
  color: inherit;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
button,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  fill: transparent;
}

picture {
  display: inline-flex;
}

label {
  display: inline-flex;
}

input {
  width: 100%;

  background-color: transparent;
  border: none;
  outline: none;

  &::placeholder {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;

    appearance: none;
  }
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  position: relative;

  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);

  // &--mode {
  //   max-width: var(--container-width-mode);
  // }

  // &--mini {
  //   max-width: var(--container-width-mini);
  // }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid rgba(17, 116, 166, .5);
  -webkit-text-fill-color: #1d1d1d;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0) 100%
  );
}

.panel,
[data-content] {
  z-index: 20;

  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s;
}

[data-tab-content],
[data-inner-content] {
  display: none;

  &.active {
    display: block;
  }
}

[data-aside-content] {
  display: none;

  &.active {
    display: flex;
  }
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  overflow: hidden;

  overscroll-behavior: none !important;
  scroll-behavior: none !important;
}

.overlay {
  @include overlay;
}

* {
  &::-webkit-scrollbar {
    width: 2px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    cursor: pointer;
    transition: all 0.2s;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  &::-webkit-scrollbar-button {
    display: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.editor {

  p{
    margin-bottom: clamp(16px, 1.3194vw, 19px);
    i{
      font-style: normal;
    }
  }

  small{
    font-size: clamp(14px, 1.1111vw, 16px);
    line-height: 139%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: clamp(16px, 1.25vw, 18px);
    color: var(--cl-c);


    i{
      font-style: normal;
      color: var(--cl-d);
    }
  }

  h1, h2{
    font-size: clamp(36px, 4.5833vw, 66px);
    font-weight: 800;
    line-height: 110%;
    letter-spacing: -0.02em;
  }

  h3,
  h4 {
    font-weight: 800;
    line-height: 110%;
    letter-spacing: -0.02em;
    font-size: clamp(22px, 2.3611vw, 34px);
  }

  h5,
  h6 {
    font-weight: 800;
    line-height: 110%;
    letter-spacing: -0.02em;
    font-size: clamp(19px, 1.8056vw, 26px);
  }

  *:last-child {
    margin-bottom: 0 !important;
  }

  ul:not([class]) {
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(16px, 1.3889vw, 20px);
    grid-gap: 10px;

    li {
      display: inline-flex;
      grid-gap: 9px;

      *{
        color: var(--cl-c);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(14px, 1.3194vw, 19px);
        line-height: 139%;

        b, strong{
          font-weight: 700;
        }
      }

      &::before{
        content: '';
        flex-shrink: 0;
        margin-top: clamp(7px, .625vw, 9.5px);
        display: block;
        width: 6px;
        height: 6px;
        background-color: var(--cl-c);
      }
    }
  }

  ol:not([class]) {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    margin-bottom: 32px;
    counter-reset: li;

    li {
      counter-increment: li;
      display: inline-flex;

      &::before{
        content: counter(li) '.';
        display: inline-block;
        font-family: var(--font-family);
        font-size: clamp(14px, 1.3194vw, 19px);
        line-height: 139%;
        color: var(--cl-c);
        margin-right: 6px;
      }

      color: var(--cl-c);
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(14px, 1.3194vw, 19px);
      line-height: 139%;

      *{
        color: var(--cl-c);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(14px, 1.3194vw, 19px);
        line-height: 139%;

        b, strong{
          font-weight: 700;
        }
      }
    }
  }

  img{
    margin-bottom: 32px;
  }

}



