[data-btn-modal] {
  svg {
    pointer-events: none;
  }
}

.modal {
  margin: auto;
  transform: scale(.8);
  display: none;

  &.active {
    transform: scale(1);
  }

  .close svg {
    pointer-events: none;
    width: 32px;
    height: 32px;
    stroke: var(--cl-c);
  }
}

body[data-theme="dark"] {
  .modal {
    .close svg {
      stroke: var(--cl-b);
    }
  }
}