.select {
  position: relative;
  user-select: none;
  width: fit-content;
  transition: all .1s;

  &.active {
    z-index: 30;

    .select__header > svg {
      transform: scaleY(-1);
    }
  }

  &__header {
    cursor: pointer;

    svg {
      transition: all 0.3s ease;
    }
  }

  &__body {
    position: absolute;
    z-index: 5;
    height: 0;
    top: calc(100% + 5px);
    width: 100%;
    overflow: hidden;
    transition: height 0.1s ease-in;
  }
}


