.logo{
  width: clamp(130px, 17.3837vw, 299px);
  height: clamp(52px, 6.9767vw, 120px);
  display: flex;

  svg,img{
    width: 100%;
    height: auto;
  }
}

h1,
.h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(20px, 2.0349vw, 35px);
  text-transform: uppercase;
  color: var(--cl-c);
}

h2,
.h2 {
  font-family: var(--font-family);
  font-size: clamp(24px, 3.906vw, 40px);
  line-height: 140%;
  font-weight: 500;
  color: #083F08;
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  overflow: hidden;

  svg {
    width: clamp(24px, 3.906vw, 40px);
    height: clamp(24px, 3.906vw, 40px);
  }
}