h1,
.h1 {
  font-family: var(--font-family);
  font-size: clamp(24px, 3.906vw, 40px);
  line-height: 140%;
  font-weight: 500;
  color: var(--cl-c);
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  overflow: hidden;

  svg {
    stroke: var(--cl-c);
    width: clamp(24px, 3.906vw, 40px);
    height: clamp(24px, 3.906vw, 40px);
  }
}

h2,
.h2 {
  font-family: var(--font-family);
  font-size: clamp(24px, 3.906vw, 40px);
  line-height: 140%;
  font-weight: 500;
  color: var(--cl-c);
  font-variant-numeric: lining-nums proportional-nums;
  text-overflow: ellipsis;
  overflow: hidden;

  svg {
    stroke: var(--cl-c);
    width: clamp(24px, 3.906vw, 40px);
    height: clamp(24px, 3.906vw, 40px);
  }
}

body[data-theme="dark"] {
  h1,
  .h1 {
    color: var(--cl-l);

    svg {
      stroke: var(--cl-l);
    }
  }

  h2,
  .h2 {
    color: var(--cl-l);

    svg {
      stroke: var(--cl-l);
    }
  }
}