:root {
  // --------------- default global variables ---------------
  --body-bg: #CBCBCB;
  --body-font-size: 16px;
  --content-width: 1280px;
  --content-width-mode: 1920px;
  --content-width-mini: 952px;
  --container-offset: clamp(16px, 4.167vw, 80px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --------------- default scroll variables ---------------
  --scrollbar-thumb:  #dbdcae;
  --scrollbar-track: rgba(0, 0, 0, 0.18);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

    // --------------- default JS variables ---------------
    --header-height: 160px;

    @include desktop{
      --header-height: 134px;
    }

    @include laptop{
      --header-height: 115px;
    }

    @include tablet{
      --header-height: 102px;
    }

    @include tablet{
      --header-height: 82px;
    }

    --header-top: 62px;


  // --------------- default font-family variables ---------------

  --font-family: "e-Ukraine", sans-serif; // var(--font-family);

  // --------------- default text color variables ---------------
  --cl-a: #ffffff; // var(--cl-a);
  --cl-b: #000000; // var(--cl-b);
  --cl-c: #1e0606; // var(--cl-c);
  --cl-d: #7FFF92; // var(--cl-d);
  --cl-e: #211C29; // var(--cl-e);
  --cl-f: #3e3749; // var(--cl-f);
  --cl-g: #41394d; // var(--cl-g);
  --cl-h: #695b80; // var(--cl-h);
  --cl-j: #2d2d2d; // var(--cl-j);
  --cl-k: #c0c0c0; // var(--cl-k);
  --cl-l: #8a8591; // var(--cl-l);
  --cl-m: #050505; // var(--cl-m);

  // --------------- default background color variables ---------------
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #050505; // var(--bg-c);
  --bg-d: #d8d3cf; // var(--bg-d);
  --bg-e: #CBCBCB; // var(--bg-e);
  --bg-f: #7d7d7d; // var(--bg-f);
  --bg-g: #dbdcae; // var(--bg-g);
  --bg-h: #FAE1A0; // var(--bg-h);
  --bg-j: #4d4d4d; // var(--bg-j);
  --bg-k: #dbdbdb; // var(--bg-k);
  --bg-l: #dbdcae; // var(--bg-l);
  --bg-m: #eed9be; // var(--bg-m);

  // --------------- default border color variable ---------------
  --br-a: #fff; // var(--br-a);
  --br-b: #000; // var(--br-b);
  --br-c: #211C29; // var(--br-c);
  --br-d: #B9FF66; // var(--br-d);
  --br-e: #cfffd6; // var(--br-e);
  --br-f: #41394d; // var(--br-f);
  --br-g: #413b53; // var(--br-g);
  --br-h: #000000; // var(--br-h);
}


