:root {
  // --------------- default font-family variables ---------------

  --font-family: "e-Ukraine", sans-serif; // var(--font-family);

  // --------------- default JS variables ---------------
  --header-height: 160px;
  --header-top: 62px;

  @include small-tablet {
    --header-height: 82px;
    --header-top: 56px;
  }

  // --------------- default global variables ---------------
  --body-bg: #fff;
  --body-font-size: 16px;
  --content-width: 1280px;
  --content-width-mode: 1920px;
  --content-width-mini: 952px;
  --container-offset: clamp(16px, 4.167vw, 80px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --------------- default scroll variables ---------------
  --scrollbar-thumb: #083F08;
  --scrollbar-track: #DCDEDA;
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  // --------------- default text color variables ---------------
  --cl-a: #ffffff; // var(--cl-a);
  --cl-b: #000000; // var(--cl-b);
  --cl-c: #083F08; // var(--cl-c);
  --cl-d: #2F2F2F; // var(--cl-d);

  --cl-e: #C2C8C2; // var(--cl-e);

  --cl-f: #6A826A; // var(--cl-f);
  --cl-g: #4D4D4D; // var(--cl-g);
  --cl-h: #C3E9C7; // var(--cl-h);
  --cl-i: #F8EDEB; // var(--cl-i);
  --cl-j: #1E1E1E; // var(--cl-j);
  --cl-k: #E5EEE5; // var(--cl-k);
  --cl-l: #9CB29C; // var(--cl-l);
  --cl-m: #F1D9D4; // var(--cl-m);
  --cl-n: #EBC8C2; // var(--cl-n);
  --cl-o: #A6A6A6; // var(--cl-o);
  --cl-p: #072F07; // var(--cl-p);
  --cl-q: #838383; // var(--cl-q);
  --cl-r: #6D6D6D; // var(--cl-r);
  --cl-s: #232323; // var(--cl-s);


}

html[data-theme="dark"] {
  --body-bg: #1B1B1B;

  // --------------- default scroll variables ---------------
  --scrollbar-thumb: #F7FAF7;
  --scrollbar-track: #323232;
  --overlay-bg: rgba(0, 0, 0, 0.5);

  // --------------- default text color variables ---------------
  --cl-a: #000000; // var(--cl-a);
  --cl-b: #ffffff; // var(--cl-b);
  --cl-c: #2F2F2F; // var(--cl-c);
  --cl-d: #C3E9C7; // var(--cl-d);
  --cl-e: #C2C8C2; // var(--cl-e);
  --cl-f: #4D4D4D; // var(--cl-f);
  --cl-g: #083F08; // var(--cl-g);
  --cl-h: #323232; // var(--cl-h);
  --cl-i: #EDFDEE; // var(--cl-i);
  --cl-j: #202020; // var(--cl-j);
  --cl-k: #A6A6A6; // var(--cl-k);
  --cl-l: #F7FAF7; // var(--cl-l);
  --cl-m: #8EBC8D; // var(--cl-m);
  --cl-n: #135A2D; // var(--cl-n);
  --cl-o: #6D6D6D; // var(--cl-o);
  --cl-p: #DCDEDA; // var(--cl-p);
  --cl-r: #292929; // var(--cl-r);
  --cl-q: #6A826A; // var(--cl-q);
  --cl-s: #274626; // var(--cl-s);
  --cl-t: #1B1B1B; // var(--cl-t);


}

